:root {
	--about-ganni-col-count: 1;

	@include mq(screen-sm) {
		--about-ganni-col-count: 2;
	}

	@include mq(screen-md) {
		--about-ganni-col-count: 3;
	}
	@include mq(screen-xxl) {
		--about-ganni-col-count: 4;
	}
}

.about-ganni {
	padding-bottom: calc(var(--bottombar-height));
	color: var(--color-secondary);
	background-color: var(--color-primary);
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: column;

	@include mq(screen-md) {
		font-size: 32px;
	}

	&__headline,
	&__bodyText {
		position: relative;
		z-index: 1;
		color: $color-white;
	}

	&__headline {
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 80px;
		line-height: 1em;

		@include mq(screen-sm) {
			font-size: clamp(30px, 6vw, 85px);
		}
	}

	&__bodyText {
		width: 290px;
		font-size: 14px;
		text-transform: uppercase;
	}

	&__item {
		padding: rem(30);
		min-height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;

		&:last-child {
			@include mq($until: screen-md) {
				padding-bottom: 100px;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				#424242 0%,
				rgba(196, 196, 196, 0) 100%
			);
			mix-blend-mode: multiply;

			@include mq(screen-xl) {
				height: 80%;
			}
		}
	}
	&__images {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 10px;
		position: relative;

		@include mq(screen-md) {
			grid-gap: 20px;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&--with-smiley {
			margin-top: 15vw;
			@include mq(screen-md) {
				margin-top: 30px;
				grid-template-columns: [one] 1fr [two] 1fr [three] 1fr;
				img {
					&:nth-child(2) {
						grid-area: two;
					}
					&:nth-child(3) {
						grid-area: three;
					}
				}
			}
		}

		&-fill {
			display: none;
			@include mq(screen-md) {
				display: block;
			}
		}
	}

	img.about-ganni__smiley {
		position: absolute;
		max-width: 38vw;
		object-fit: contain;

		@include mq($until: screen-md) {
			top: 0;
			transform: translate3d(-50%, -50%, 0);
			width: 50%;
			height: auto;
			left: 50%;
			max-width: 25vw;
		}
	}
}
