.afterparty {
	@include windowtitle();

	min-height: 100vh;
	color: var(--color-primary);

	min-height: 400vh;
	overflow: hidden;

	// display: grid;
	// grid-template-rows: 1fr;

	// &__gallery {
	// grid-row: 1;
	// height: 100%;
	background-color: #eee;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.2) 25%,
			transparent 25%,
			transparent 75%,
			rgba(0, 0, 0, 0.2) 75%,
			rgba(0, 0, 0, 0.2)
		),
		linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.2) 25%,
			transparent 25%,
			transparent 75%,
			rgba(0, 0, 0, 0.2) 75%,
			rgba(0, 0, 0, 0.2)
		);
	background-size: 120px 120px;
	background-position: 0 0, 60px 60px;
	// }

	// .horizontal-bannner {
	// 	grid-row: 1;
	// }

	&__quote {
		height: 100vh;
		width: 100vw;
		display: grid;
		place-items: center;

		blockquote,
		cite {
			max-width: 20em;

			span {
				background: black;
				line-height: 1.25;
			}
		}
	}
}
