.audio-gallery {
	width: 100%;
	height: 100vh;
	max-height: 100%;
	overflow: auto;
	background: $color-white;

	position: relative;
	z-index: 1;

	&__container {
		height: inherit;
		max-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__scrollbar {
		transition: width 0.5s $easeInOutQuint;
		width: 9px;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;

		cursor: pointer;

		&:hover {
			width: 15px;
		}
	}

	&__scroller {
		transform-origin: top;
		background: black;
		height: 100%;
	}

	&__wrapper {
		position: fixed;
		// height: 100vh;
		width: 100%;

		pointer-events: none;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__images {
		position: relative;
		width: 70%;
		height: 70vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__image {
		position: absolute;
		height: 100%;

		img {
			height: 100%;
		}

		&:nth-child(2n) {
			align-self: flex-end;
		}
		&:nth-child(3n) {
			align-self: flex-start;
		}
	}

	&__text {
		@include bodytext();
		margin-top: 1.63em;
	}

	&__modal {
		@include bodytext();

		cursor: pointer;
		display: inline-flex;
		padding: 100px 150px;
		background: black;
		text-decoration: underline;
		color: white;
		position: fixed;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
