.audio-visualizer {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;

	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: flex-end;

	font-size: 11.4vw; // fill the screen horizontally
	line-height: 0.8;
	font-weight: normal;

	user-select: none;
	background-color: var(--color-secondary);

	.text {
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		background-clip: text;
		color: transparent;
	}

	.column {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
}
