.background-image {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	z-index: -1;

	img {
		max-width: 90vmin;
		max-height: 90vmin;
		object-fit: cover;
	}
}
