.collection-header {
	--collection-header-cols: 1;
	--collection-header-height: 60vh;

	// border-bottom: 1px solid var(--collection-border-color);

	position: sticky;
	top: var(--group-navigation-height);

	@include mq(screen-md) {
		--collection-header-cols: 1;
	}

	.inner {
		transition: transform 1.2s var(--ease-in-out-quint);
		width: 100%;
		background-color: var(--color-background);

		// overflow: auto;

		min-height: var(--collection-header-height);
		position: relative;
		display: grid;
		grid-template-rows: 1fr;

		&.show-images {
			transform: translateY(-100%);
		}
	}

	.text {
		min-height: var(--collection-header-height);
		box-sizing: border-box;
		white-space: pre-line;
		padding: var(--page-outer-margin);
		padding-bottom: var(--group-navigation-height);
		background-color: var(--color-background);

		h1 {
			margin-bottom: calc(var(--page-outer-margin) * 2);
			font-size: calc(32px + 7vw);
			font-weight: 600;
			line-height: 0.9;
			letter-spacing: -0.02em;
			text-transform: uppercase;
		}

		p {
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: rem(20);
			font-size: rem(32);
			letter-spacing: -0.03em;
			line-height: 0.9;

			@include mq(screen-md) {
				font-size: 3.7vw;
			}

			b {
				font-weight: bold;
			}
		}
	}

	.image {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 100%);
		width: 100%;
		height: 100%;
		background: var(--color-background);
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		margin-bottom: var(--group-navigation-height);

		@include mq(screen-md) {
			width: 50vw;
		}
	}

	.timeline {
		position: absolute;
		width: calc(40% - 5px * 2);
		top: 5px;
		display: grid;
		grid-gap: 5px;
		grid-auto-columns: 20%;

		.line {
			overflow: hidden;
			width: 100%;
			height: 4px;
			background: rgba(255, 255, 255, 0.3);
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				transform-origin: left;
				transform: scaleX(var(--progress));
				background: var(--color-primary);
			}
		}
	}

	img {
		height: 100%;
		object-fit: cover;
	}
}
