.collection {
	display: flex;
	flex-wrap: wrap;
	padding: rem(5);
	> * {
		flex: 0 1 rem(160);
		box-sizing: border-box;
		padding: rem(10);
		border: rem(1) solid transparent;
	}

	.collection-item {
		cursor: pointer;
		&:hover {
			border: rem(1) solid $color-black;
		}
	}
}