.collage {
	position: relative;
	height: 100%;

	.head {
		z-index: 1;
		position: absolute;
		left: 50%;
		top: rem(45);
		transform: translateX(-50%);

		width: 150px;
		height: 150px;
		border-radius: 400px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 5px solid #24ff00;

		video {
			z-index: 2;
		}
	}

	p {
		@include bodytext();
	}

	.trigger {
		&.photoTimer {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $color-lime;
			color: $color-white;

			&:before {
				content: none;
			}

			p {
				font-family: $font-sansserif;
				opacity: 0.7;
				font-size: 3rem;
				line-height: 0.5;
				font-weight: 500;
				margin: 0 0.5em;

				&.active {
					opacity: 1;
				}
			}
		}
	}

	button {
		display: inline-block;
		position: relative;
		background: $color-lightgrey;

		width: 49.5%;
		height: 70px;

		box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);

		@include mq($until: screen-md) {
			position: absolute;
			top: rem(15);
			right: rem(15);
			width: auto;

			&.trigger {
				left: rem(15);
				right: auto;
			}
		}

		&:before {
			background: $color-lime;
			content: '';
			height: 3.2rem;
			width: 3.2rem;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		svg {
			padding: 1rem;
			margin-top: 0.25rem;
			height: 1.6rem;
			width: 1.6rem;
			fill: $color-white;
			position: relative;
			z-index: 1;
		}
	}
}
