.collection-header {
	--collection-header-cols: 1;
	--collection-header-height: 60vh;

	border-top: 1px solid $color-white;

	position: sticky;
	top: var(--group-navigation-height);

	@include mq(screen-md) {
		--collection-header-cols: 1;
	}

	.inner {
		width: 100%;
		background-color: var(--color-background);

		overflow: auto;

		height: var(--collection-header-height);
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.text {
		min-height: var(--collection-header-height);
		box-sizing: border-box;
		white-space: pre-line;
		padding: var(--page-outer-margin);
		background-color: var(--color-background);

		h1 {
			margin-bottom: calc(var(--page-outer-margin) * 2);
			font-size: calc(32px + 7vw);
			font-weight: 500;
			line-height: 0.9;
			letter-spacing: -0.02em;
			text-transform: uppercase;
		}

		p {
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: rem(20);
			font-size: rem(32);
			letter-spacing: -0.03em;
			line-height: 0.9;

			@include mq(screen-md) {
				font-size: 3.7vw;
			}

			b {
				font-weight: bold;
			}
		}
	}

	.image {
		transition: transform 1.2s $easeInOutQuint;
		position: relative;
		// top: 0;
		// transform: translateY(100%);
		width: 100%;
		height: var(--collection-header-height);
		background: var(--color-background);
		cursor: w-resize;
		box-sizing: border-box;

		display: flex;
		justify-content: center;

		&:after {
			content: '';
			cursor: e-resize;
			position: absolute;
			height: 100%;
			width: 50%;
			right: 0;
		}

		&.in-view {
			transform: translateY(0);
		}
	}

	.timeline {
		position: absolute;
		width: calc(40% - 5px * 2);
		top: 5px;
		display: grid;
		grid-gap: 5px;
		grid-auto-columns: 20%;

		.line {
			overflow: hidden;
			width: 100%;
			height: 4px;
			background: rgba(255, 255, 255, 0.1);
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				transform-origin: left;
				transform: scaleX(var(--progress));
				background: var(--color-primary);
			}
		}
	}

	img {
		height: 100%;
		object-fit: cover;
	}
}
