.collection {
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	> * {
		padding: rem(5);

		@include mq($from: screen-md) {
			padding: rem(25);
		}
	}

	&__group {
		h4 {
			@include megatype();
			padding: 0 0 rem(5);
			margin-bottom: rem(5);
			// font-size: rem(16);
			text-transform: uppercase;
			font-weight: 500;
			display: block;
			color: $color-black;
		}
		> div {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}
	&__group + &__group {
		margin-bottom: rem(30);
	}

	.collection-item {
		display: block;
		padding: rem(5);
		flex: 0 0 50%;
		min-width: 0;
		box-sizing: border-box;
		border: rem(1) solid transparent;
		position: relative;
		cursor: pointer;
		transition: border 0.3s ease;

		@include mq($from: screen-xxs) {
			flex: 0 0 rem(156);
		}
		@include mq($from: screen-md) {
			flex: 0 0 rem(208);
		}

		&:hover {
			border: rem(1) solid $color-black;
		}

		.on-wishlist {
			position: absolute;
			top: rem(5);
			right: rem(5);
			padding: rem(3);
			svg {
				width: rem(16);
				height: rem(16);
			}
		}

		img {
			width: 100%;
			background-color: $color-lightgrey;
			object-fit: cover;

			@include mq($from: screen-md) {
				height: rem(298);
			}
		}

		p {
			max-width: 100%;
			max-height: 1.27em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-top: rem(10);
			display: block;
			text-align: center;
			@include bodytext();
		}
	}

	&--fun {
		max-width: rem(600);

		margin: 0 rem(20);
		@include mq($from: screen-sm) {
			margin: 0 auto;
		}
		@include mq($from: screen-xxl) {
			max-width: rem(800);
		}

		.collection-item {
			flex: 0 0 50%;
			margin: rem(40) 0;
			@include mq($from: screen-sm) {
				margin: rem(80) 0;
			}

			img {
				width: 80%;
				@include mq($from: screen-xxl) {
					height: auto;
				}
			}
			.on-wishlist {
				right: calc(10% + #{rem(5)});
			}

			p {
				display: none;
			}
			.responsible-icon {
				left: calc(10% + #{rem(5)});
			}

			transition: all 0.2s ease;

			&:hover {
				border-color: transparent;
				opacity: 0.7;
			}

			&:nth-child(8n + 1) {
				transform: rotateZ(0) translate(0, 0);
				animation: horiz-pan infinite 4s ease;
			}
			&:nth-child(8n + 2) {
				transform: translate(20%, -20%);
			}
			&:nth-child(8n + 3) {
				transform: rotateZ(180deg) translate(-5%, 30%);
			}
			&:nth-child(8n + 4) {
				transform: rotateZ(0) translate(0, 0);
				animation: pulse infinite 2s ease 2s;
				transform-origin: center center;
			}
			&:nth-child(8n + 5) {
				transform: rotateZ(0) translate(0, 0);
				animation: vertic-pan infinite 3s ease 0.5s;
			}
			&:nth-child(8n + 6) {
				transform: rotateZ(90deg) translate(-50%, -5%);
			}
			&:nth-child(8n + 7) {
				transform: rotateZ(0) translate(0, 0);
				animation: dangle infinite 3s ease-in-out;
				transform-origin: top center;
			}
			&:nth-child(8n + 8) {
				transform: translate(10%, -50%);
			}

			@keyframes dangle {
				0% {
					transform: rotateZ(-20deg);
				}
				50% {
					transform: rotateZ(20deg);
				}
				100% {
					transform: rotateZ(-20deg);
				}
			}
			@keyframes pulse {
				0% {
					transform: scale(1) rotateZ(0deg);
				}
				40% {
					transform: scale(1) rotateZ(0deg);
				}
				60% {
					transform: scale(1.2) rotateZ(10deg);
				}
				70% {
					transform: scale(0.95) rotateZ(-2deg);
				}
				100% {
					transform: scale(1) rotateZ(0deg);
				}
			}
			@keyframes horiz-pan {
				0% {
					transform: translateX(0);
				}
				50% {
					transform: translateX(-20%);
				}
				100% {
					transform: translateX(0);
				}
			}
			@keyframes vertic-pan {
				0% {
					transform: translateY(0);
				}
				50% {
					transform: translateY(20%);
				}
				100% {
					transform: translateY(0);
				}
			}
		}
	}
}

.window__status--collection {
	flex: 0 0 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.count {
		box-sizing: border-box;
		flex: 0 0 10%;
		@include bodytext();

		overflow: hidden;
		padding: rem(5) rem(10);

		display: flex;
		align-items: center;
	}

	.layout-buttons {
		flex: 0 0 10%;
		display: flex;
		justify-content: center;

		.button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 rem(30);
			width: rem(30);
			height: rem(35);

			.icon {
				width: rem(30);
				height: rem(30);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				svg {
					width: rem(30);
					height: rem(30);
				}
			}
			&:hover {
				background-color: $color-lightgrey;
			}

			opacity: 0.5;
			&.is-active {
				opacity: 1;
			}
		}
	}
}
