.exhibition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	&__item {
		display: block;
		font-weight: bold;

		margin: 0 auto;
		width: 100%;
		position: relative;

		// background: url('/img/hourglass.gif') no-repeat center center;
		// background-size: 25%;

		img,
		video {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}

		div {
			text-align: left;
			padding: rem(10);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			p {
				@include bodytext();
				font-size: rem(13);
				font-weight: $weight-medium;
				color: $color-white;
			}
		}
	}
}
