.fabrics {
	padding: 1px 1px calc(var(--bottombar-height) + 1px);
	background-color: var(--color-secondary);
	color: var(--color-primary);

	&__content {
		--columns: 1;
		--width: 100vw;

		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-gap: 1px;
		width: var(--width);

		@include mq(screen-sm) {
			--columns: 1;
		}

		@include mq(screen-md) {
			--columns: 2;
		}

		@include mq(screen-lg) {
			--columns: 2;
			--width: calc(100vw - 2px);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;

		height: calc(var(--width) / var(--columns) * 3 / 4);

		img {
			transition: transform 0.6s $easeInOutQuint,
				transform-origin 0.6s $easeOutQuint;
			height: 100%;
			object-fit: cover;

			&.zoomed {
				transform: scale(5);
			}
		}
	}

	&__fullscreen {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;
		width: 2em;
		height: 2em;

		svg {
			width: inherit;
			height: inherit;
			pointer-events: none;
		}
	}

	&__text {
		pointer-events: none;
		position: absolute;
		bottom: 1em;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);

		p {
			@include bodytext();

			transition: opacity 0.2s $easeInOutQuint;
			display: inline-block;

			max-width: 30em;
			background-color: var(--color-secondary);
			padding: 0.25em 0.5em;
		}

		*:fullscreen & {
			left: 1em;
			text-align: left;
			transform: translateX(0);

			p {
				font-size: 1em;
			}
		}
	}
}
