.fabrics {
	padding: calc(var(--bottombar-height) + var(--page-outer-margin))
		var(--page-outer-margin);
	background-color: var(--color-secondary);
	color: var(--color-primary);

	&__content {
		--columns: 1;
		--width: 100vw;

		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
		grid-gap: var(--page-outer-margin);
		width: var(--width);

		@include mq(screen-sm) {
			--columns: 3;
		}

		@include mq(screen-md) {
			--columns: 4;
		}

		@include mq(screen-lg) {
			--columns: 5;
			--width: calc(
				100vw - var(--assistant-width) - var(--page-outer-margin) * 3
			);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;

		height: calc(var(--width) / var(--columns) * 3 / 4);

		img {
			transition: transform 0.6s $easeInOutQuint,
				transform-origin 0.6s $easeOutQuint;
			cursor: none;
			height: 100%;
			object-fit: cover;

			&.zoomed {
				transform: scale(5);
			}
		}
	}

	&__fullscreen {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;
		width: 2em;
		height: 2em;

		svg {
			width: inherit;
			height: inherit;
			pointer-events: none;
		}
	}

	&__text {
		pointer-events: none;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.01) 8.1%,
			hsla(0, 0%, 0%, 0.039) 15.5%,
			hsla(0, 0%, 0%, 0.083) 22.5%,
			hsla(0, 0%, 0%, 0.14) 29%,
			hsla(0, 0%, 0%, 0.207) 35.3%,
			hsla(0, 0%, 0%, 0.282) 41.2%,
			hsla(0, 0%, 0%, 0.36) 47.1%,
			hsla(0, 0%, 0%, 0.44) 52.9%,
			hsla(0, 0%, 0%, 0.518) 58.8%,
			hsla(0, 0%, 0%, 0.593) 64.7%,
			hsla(0, 0%, 0%, 0.66) 71%,
			hsla(0, 0%, 0%, 0.66) 77.5%,
			hsla(0, 0%, 0%, 0.66) 84.5%,
			hsla(0, 0%, 0%, 0.66) 91.9%,
			hsla(0, 0%, 0%, 0.66) 100%
		);

		p {
			@include bodytext;
			pointer-events: none;
			padding: calc(var(--page-outer-margin) / 2);
			padding-top: calc(var(--page-outer-margin) * 2);

			max-width: 30em;
		}
	}
}
