.filter-button {
	@include bodytext();

	display: inline-flex;
	align-items: center;

	user-select: none;
	box-sizing: border-box;

	padding: rem(10);
	transition: all 0.2s ease;
	background-color: var(--color-primary);

	// place after .is-big
	order: 2;

	&.is-active {
		background-color: $color-buttonactive;
		color: $color-white;
	}

	&.is-big {
		font-weight: bold;
		order: 1;
	}

	span {
		@include truncate();

		line-height: rem(1.27 * 11);
	}

	em {
		margin-left: rem(5);
		font-size: rem(10);
		line-height: rem(1.27 * 11);
	}
}

button.filter-button {
	cursor: pointer;

	&:hover {
		background-color: $color-buttonhover;
	}

	&.is-active:hover {
		background-color: $color-buttonactive;
	}
}
