.filter-button {
	@include bodytext();

	user-select: none;
	flex: 0 0 50%;
	box-sizing: border-box;

	background-color: inherit;
	border-bottom: rem(1) solid rgba(0, 0, 0, 0.2);
	border-right: rem(1) solid rgba(0, 0, 0, 0.2);
	padding: rem(10);
	display: inline-flex;
	align-items: center;
	transition: all 0.2s ease;

	width: 50%;

	&.is-active {
		color: $color-white;
		background-color: $color-black;
	}

	&:nth-child(2n) {
		border-right: 0;
	}

	&:nth-last-child(-n + 2) {
		border-bottom: 0;
	}

	span {
		@include truncate();
		// max-width: 80%;

		line-height: rem(1.27 * 11);
	}

	em {
		margin-left: rem(5);
		font-size: rem(10);
		line-height: rem(1.27 * 11);
	}
}

button.filter-button {
	cursor: pointer;

	&:hover {
		background-color: $color-lightgrey;
	}

	&.is-active:hover {
		background-color: $color-black;
	}
}
