.window {
	&--gallery {
		left: 0;
		top: 0;
		width: 100vw !important;
		height: 100vh !important;
		transform: translate(0, 0) !important;

		max-width: 100vw;

		.handle {
			display: none;
		}

		@include mq($from: screen-sm) {
			width: auto !important;
			left: 50vw;
			transform: translateX(-50%) !important;
		}
		&__wrapper {
			z-index: $z-index-gallery !important;
		}
		.window__top .title {
			cursor: default;
		}
	}
}

.gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	&__item {
		display: block;
		// margin: 0 auto;
		margin-right: -20px; // compensate vuebar
		width: 100%;

		@include mq($from: screen-sm) {
			width: rem(700);
			max-width: 60vw;
		}

		@include mq($from: screen-xxl) {
			width: rem(1000);
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__item + &__item {
		border-top: rem(1) solid $color-black;
	}

	// &-image,
	// &-video {
	// 	background: url('/img/hourglass.gif') no-repeat center center;
	// 	background-size: 25%;
	// }
}
