.ganni-girls {
	background-size: cover;
	padding: rem(10);
	min-height: 100%;
	
	@include mq($from: screen-md) {
		padding: rem(30);
	}

	&__post {
		display: flex;

		.thumb {
			flex: 0 0 rem(50);
			display: inline-flex;
			overflow: hidden;
			border-radius: rem(6);
			width: rem(50);
			height: rem(50);
			margin-right: rem(30);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
			@include mq($from: screen-md) {
				flex: 0 0 rem(90);
				width: rem(90);
				height: rem(90);
				margin-right: rem(54);
			}
		}
		.content {
			position: relative;
			background-color: $color-white;
			padding: 0 rem(10) rem(10);
			border-radius: rem(6);
			font-family: $font-typewriter;

			&:before {
				content:'';
				display: block;
				width: 0;
				height: 0;
				
				position: absolute;				
				top: rem(15);
				left: rem(-16);
				border: rem(8) solid transparent;
				border-right-color: $color-white;
				
				@include mq($from: screen-md) {
					border-width: rem(10);
					top: rem(20);
					left: rem(-20);
				}
			}

			@include mq($from: screen-md) {
				padding: 0 rem(20) rem(20);
			}

			img, video {
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
				margin-bottom: rem(10);
			}

			div {
				padding: rem(10) 0;
				@include mq($from: screen-md) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: rem(14) 0;
				}
				span {
					display: block;
					@include bodytext();
					color: $color-green;
				}
			}
			h3 {
				@include bodytext();
				font-weight: 600;
				margin-bottom: rem(10);
			}
			p {
				@include bodytext();
			}
		}
	}
	&__post + &__post {
		margin-top: rem(20);
	}
}