.green-room {
	color: var(--color-secondary);

	height: 100vh;

	background-color: $color-goblin;

	h1 {
		font-size: 3.5vw;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 0.85;
		letter-spacing: -0.01em;

		position: absolute;
		top: 45%;
		transform: translate(-50%, -50%);
		left: 50vw;

		width: 15em;
		padding: 0.25em;
		outline: 0.2em solid;
	}

	&__item {
		@include bodytext();
		font-weight: bold;
		width: 40vmin;
		height: 40vmin;
		position: absolute;

		display: grid;
		place-items: center;

		button {
			width: inherit;
			height: inherit;
		}

		img {
			transition: transform 0.1s $easeInOutQuint;
			width: inherit;
			height: inherit;
			object-fit: contain;
			image-rendering: pixelated;
		}

		&:not(.fixed) {
			&:hover {
				img {
					transform: scale(1.02) rotate(3deg);
				}
			}
		}
	}

	&__text {
		position: absolute;
		background-color: $color-white;
		color: var(--color-secondary);
		padding: 1.5em;
		top: 60%;
		left: 40%;
		width: 400px;
		border: 2px solid;
		z-index: 1;

		button {
			font-size: 1.5em;
			position: absolute;
			top: 0;
			right: 0;
			width: 1.5em;
			height: 1.5em;
		}
	}

	.copycat {
		pointer-events: none;
	}
}
