.green-room {
	color: var(--color-secondary);

	height: 100vh;
	width: 100vw;
	// min-width: 350vw;

	background-color: $color-goblin;

	overflow: auto;
	overflow-y: hidden;

	h1 {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 0.85;
		letter-spacing: -0.01em;

		position: absolute;

		width: 15em;
		padding: 0.25em;
		outline: 0.2em solid;

		@include mq(screen-md) {
			font-size: 3.5vw;
		}

		&:nth-of-type(1) {
			top: 45%;
			transform: translate(-50%, -50%);
			left: 50vw;
		}

		&:nth-of-type(2) {
			top: 45%;
			transform: translate(-50%, -50%);
			left: 175vw;
		}

		&:nth-of-type(3) {
			top: 45%;
			transform: translate(-50%, -50%);
			left: 300vw;
		}
	}

	&__item {
		@include bodytext();
		font-weight: bold;
		width: 33vmin;
		height: 33vmin;
		position: absolute;

		display: grid;
		place-items: center;

		button {
			width: inherit;
			height: inherit;
		}

		img {
			transition: transform 0.1s $easeInOutQuint;
			width: inherit;
			height: inherit;
			object-fit: contain;
			image-rendering: pixelated;
		}

		&.fixed {
			width: 50vmin;
			height: 50vmin;

			@include mq(screen-md) {
				width: 75vmin;
				height: 75vmin;
			}

			.green-room__text {
				@include mq(screen-md) {
					top: -10% !important;
					left: 10%;
				}
			}
		}

		&.is-link {
			img {
				transform: rotate(-3deg) !important;
			}

			&:hover {
				img {
					transform: scale(1.02) rotate(0deg) !important;
				}
			}
		}

		&:not(.fixed):not(.is-link) {
			&:hover {
				img {
					transform: scale(1.02) rotate(3deg) !important;
				}
			}
		}

		&:hover {
			z-index: 2 !important;

			.green-room__text {
				display: block;
			}
		}

		--enter-duration: 2s;
		--enter-delay: 0s;
		--move-amount: 50px;

		@keyframes enter-to-right {
			to {
				transform: translateX(0);
			}
		}

		@keyframes enter-to-left {
			to {
				transform: translateX(0);
			}
		}

		img {
			transform: translateX(var(--move-amount));
			animation: enter-to-left var(--enter-duration) var(--enter-delay) forwards
				ease-in-out;
		}

		&.enter-left {
			img {
				transform: translateX(calc(var(--move-amount) * -1));
				animation: enter-to-right var(--enter-duration) var(--enter-delay)
					forwards ease-in-out;
			}
		}

		&[data-order='0'] {
			top: 10vh;
			left: 0;
		}

		&[data-order='1'] {
			bottom: 10vh;
			left: 10vw;
		}

		&[data-order='2'] {
			top: 0;
			left: 55vw;
		}

		&[data-order='3'] {
			bottom: 10vh;
			left: 65vw;
		}

		&[data-order='4'] {
			top: 10vh;
			left: 90vw;
		}

		&[data-order='5'] {
			top: 0vh;
			left: 140vw;
		}

		&[data-order='6'] {
			top: 60vh;
			left: 150vw;
		}

		&[data-order='7'] {
			bottom: 10vh;
			left: 185vw;
		}

		&[data-order='8'] {
			top: 5vh;
			left: 190vw;
		}

		&[data-order='9'] {
			top: 14vh;
			left: 210vw;
		}

		&[data-order='10'] {
			bottom: 15vh;
			left: 260vw;
		}

		&[data-order='11'] {
			top: 0vh;
			left: 275vw;
		}

		&[data-order='12'] {
			top: 5vh;
			left: 310vw;
		}

		&[data-order='13'] {
			bottom: 15vh;
			left: 317vw;
		}

		&[data-order='14'] {
			top: 12vh;
			left: 335vw;
		}

		&[data-order='15'] {
			bottom: 15vh;
			left: 290vw;
		}
	}

	&__text {
		position: fixed;
		top: 0;
		left: 0;

		display: none;
		background-color: $color-white;
		color: var(--color-secondary);
		padding: 1.5em;
		width: 550px;
		max-width: 90vw;
		max-height: 45vh;
		overflow: auto;
		border: 2px solid;
		z-index: 1;
		white-space: pre-line;

		button {
			font-size: 1.5em;
			position: absolute;
			top: 0;
			right: 0;
			width: 1.5em;
			height: 1.5em;
		}

		@include mq(screen-md) {
			position: absolute;
			top: 5%;
			left: 40%;
			max-height: none;
		}

		.big {
			font-size: 1.63em;
		}
	}

	.copycat {
		pointer-events: none;
	}
}
