.green-room {
	color: var(--color-secondary);

	height: 100vh;

	background-color: $color-goblin;

	h1 {
		font-size: 3.5vw;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 0.85;
		letter-spacing: -0.01em;

		position: absolute;
		top: 45%;
		transform: translate(-50%, -50%);
		left: 50vw;

		width: 15em;
		padding: 0.25em;
		outline: 0.2em solid;
	}

	&__item {
		@include bodytext();
		font-weight: bold;
		width: 33vmin;
		height: 33vmin;
		position: absolute;

		display: grid;
		place-items: center;

		button {
			width: inherit;
			height: inherit;
		}

		img {
			transition: transform 0.1s $easeInOutQuint;
			width: inherit;
			height: inherit;
			object-fit: contain;
			image-rendering: pixelated;
		}

		&.fixed {
			width: 75vmin;
			height: 75vmin;
		}

		&:not(.fixed) {
			&:hover {
				img {
					transform: scale(1.02) rotate(3deg) !important;
				}
			}
		}

		--enter-duration: 2s;
		--enter-delay: 0s;
		--move-amount: 50px;

		@keyframes enter-to-right {
			to {
				transform: translateX(0);
			}
		}

		@keyframes enter-to-left {
			to {
				transform: translateX(0);
			}
		}

		img {
			transform: translateX(var(--move-amount));
			animation: enter-to-left var(--enter-duration) var(--enter-delay) forwards
				ease-in-out;
		}

		&.enter-left {
			img {
				transform: translateX(calc(var(--move-amount) * -1));
				animation: enter-to-right var(--enter-duration) var(--enter-delay)
					forwards ease-in-out;
			}
		}

		&[data-order='0'] {
			top: 10vh;
			left: 0;
		}

		&[data-order='1'] {
			bottom: 10vh;
			left: 10vw;
		}

		&[data-order='2'] {
			top: 0;
			left: 55vw;
		}

		&[data-order='3'] {
			bottom: 10vh;
			left: 65vw;
		}

		&[data-order='4'] {
			top: 10vh;
			left: 90vw;
		}
	}

	&__text {
		position: absolute;
		background-color: $color-white;
		color: var(--color-secondary);
		padding: 1.5em;
		top: 20%;
		left: 40%;
		width: 400px;
		border: 2px solid;
		z-index: 1;

		button {
			font-size: 1.5em;
			position: absolute;
			top: 0;
			right: 0;
			width: 1.5em;
			height: 1.5em;
		}
	}

	.copycat {
		pointer-events: none;
	}
}
