.green-room {
	color: var(--color-secondary);

	height: 100vh;
	// width: 300vw;

	background-color: $color-goblin;

	h1 {
		@include windowtitle();
		position: absolute;
		display: flex;
		top: 20%;
		left: 40vw;
		height: auto;
		max-width: 15em;
		padding: 0.25em;
		outline: 0.2em solid;
	}

	&__item {
		@include bodytext();
		width: 33vh;
		height: 33vh;
		position: absolute;

		display: grid;
		place-items: center;

		button {
			width: inherit;
			height: inherit;
		}

		img {
			transition: transform 0.1s $easeInOutQuint;
			width: inherit;
			height: inherit;
			object-fit: contain;
			image-rendering: pixelated;
		}

		p {
			position: absolute;
			background-color: $color-white;
			color: var(--color-secondary);
			padding: 1em;
			top: 60%;
			left: 40%;
			width: 400px;
			border: 2px solid;
		}

		&:hover {
			img {
				transform: scale(1.02) rotate(3deg);
			}
		}
	}

	.copycat {
		pointer-events: none;
	}
}
