.label {
	@include bodytext();
	@include truncate();

	font-size: rem(10);

	max-width: 100%;
	max-height: 1.27em;

	display: inline-block;

	// background-color: $color-black;
	// color: $color-white;
	margin: rem(15);
	margin-bottom: rem(10);
}
