.look-book {
	background-color: $color-grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	
	
	&__item {
		display: block;
		margin: 0 auto;
		width: 100%;
		@include mq($from: screen-sm) {
			width: rem(700);
			max-width: 60vw;
		}
		@include mq($from: screen-xxl) {
			width: rem(1000);			
		}

		img {
			display: block;
			width: 100%;
		}	
	}
}