.look-book {
	background-color: $color-grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	
	
	&__item {
		display: block;
		margin: 0 auto;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}	
	}
}