.lookbook-slideshow {
	@include bodytext();

	position: relative;

	min-height: calc(100vh - var(--bottombar-height) * 2);
	display: flex;
	align-items: flex-start;

	padding: var(--bottombar-height) 0;
	box-sizing: border-box;

	color: $color-white;

	&__content {
		position: relative;
		height: 100%;
		min-height: inherit;
		width: 100%;
		margin: 0 var(--page-outer-margin);
	}

	&__button {
		display: inline-flex;
		padding: calc(var(--page-outer-margin) / 2);

		&:last-of-type {
			padding-right: var(--page-outer-margin);
		}
	}

	&__ui {
		position: fixed;
		bottom: calc(var(--bottombar-height) + rem(10));
		right: rem(0);

		display: flex;
		align-items: center;

		white-space: nowrap;

		svg {
			fill: currentColor;
			width: 1em;
			height: 1em;
		}
	}

	&__standard,
	&__overview {
		width: 100%;

		@include mq(screen-md) {
			width: calc(100% - var(--assistant-width) - var(--page-outer-margin));
		}
	}

	&__standard {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;

		grid-gap: var(--page-outer-margin);

		@include mq(screen-md) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			height: calc(100vh - var(--bottombar-height) * 2);
		}

		@keyframes fade {
			from {
				opacity: 0;
			}
		}

		div {
			height: inherit;
			box-sizing: border-box;

			@include mq(screen-md) {
				padding-bottom: var(--page-outer-margin);
			}
		}

		img,
		video {
			object-fit: cover;
			height: 100%;
			width: 100%;
			animation: fade forwards 0.4s $easeInOutQuint;
		}
	}

	&__overview {
		display: grid;
		grid-gap: calc(var(--page-outer-margin) / 2);
		grid-template-columns: repeat(auto-fill, 75px);
		padding-bottom: var(--page-outer-margin);

		div {
			display: inline-flex;
			width: 75px;
		}

		img,
		video {
			object-fit: contain;
			width: 100%;
			cursor: pointer;
		}

		// @keyframes fade {
		// 	from {
		// 		opacity: 0;
		// 	}
		// }

		// video {
		// 	animation: fade 0.4s $easeInOutQuint forwards;
		// }
	}
}
