.media-library {
	@include bodytext();

	position: fixed;
	bottom: rem(71); // height of bottom menu bar
	right: 0;
	width: calc(25% - 1px);
	box-sizing: border-box;

	background: var(--color-secondary);
	box-shadow: 0 0 0 1px var(--color-primary);
	color: var(--color-primary);

	z-index: 10001;

	&__item {
		border-top: 1px solid var(--color-primary);
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(70);
		color: inherit;

		&:first-of-type {
			border-top: none;
		}

		&:hover {
			color: var(--color-primary);
		}
	}
}
