@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.mobile-disclamer {
	animation: spin 10s linear infinite;

	font-size: 25vw;
	color: $color-red;
	text-align: center;
	font-weight: bold;

	height: 100%;
	width: 100%;

	position: fixed;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -20vw;

	pointer-events: none;
}
