.mobile-disclamer {
	@include windowtitle();

	background: $color-black;
	color: $color-white;

	position: fixed;
	box-sizing: border-box;

	margin: rem(25) rem(25);
	padding: rem(50) rem(40);
	width: calc(100% - rem(50));
	height: calc(100vh - rem(50));
	top: 0;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	// opacity: 0;
	pointer-events: none;

	z-index: 1000000000;
}
