.window {
	&--music-player {
		&__wrapper {
			position: fixed;
			top: calc(100vh - 410px);
			left: rem(10);

			@include mq($from: screen-xs) {
				top: calc(100vh - 350px);
			}

			@include mq($from: screen-sm) {
				width: rem(326);
				left: calc(100vw - 370px);
				top: calc(100vh - 380px);
			}
			@include mq($from: screen-md) {
				right: auto;
				left: rem(30);
			}
		}
	}
}

.window--music-player .window__content {
	background-color: $color-salmon;
}

.music-player {
	user-select: none !important;
	cursor: default;

	h1 {
		text-transform: initial;
	}

	&__top {
		@include bodytext();
		border-bottom: rem(1) solid $color-black;
		padding: rem(9) rem(10);

		display: grid;
		grid-template: 1fr / rem(50) 1fr;
		white-space: nowrap;

		@keyframes swipe {
			to {
				transform: translateX(-100%); // slight glitch with 5
			}
		}

		div {
			overflow: hidden;
			display: flex;

			.title-marquee {
				will-change: transform;
				// width: fit-content;
				font-weight: $weight-bold;
				animation: swipe 10s linear infinite;
				display: inline-flex;
			}
		}
	}

	&__controls {
		display: flex;
		border-bottom: rem(1) solid $color-black;
	}

	&__canvas-container {
		background: $color-darkgrey;
		width: 100%;
		height: rem(50);

		canvas {
			width: 100%;
			height: 100%;
		}
	}

	.button {
		cursor: pointer;

		border-right: rem(1) solid $color-black;
		width: rem(50);
		height: rem(30);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: rem(13);
		line-height: 1;

		&:hover {
			background-color: darken($color-salmon, 5%);
		}

		svg {
			width: rem(30);
			height: rem(30);
		}
	}

	/**
	* new re-styling of music player (17/8-20),
	* if the music player needs a second re-style:
	* consider modifying classes/vuex state mgmt
	*/
	.window__top {
		display: none;
	}

	&__top {
		border-bottom: 0;
		font-weight: bold;
	}

	.window__content.slim {
		.music-player__top {
			padding: 0;
			grid-template: 1fr / rem(55) rem(60) 1fr;
			background-color: $color-202020-blue;
			color: $color-white;

			* {
				align-self: center;
				text-align: center;
			}

			svg {
				fill: currentColor;
			}
		}

		.button {
			background-color: $color-202020-green;
			width: rem(55);
			height: rem(40);
			border-right: 0;

			svg {
				height: 100%;
				width: auto;
			}
		}
	}

	&-video {

		> div {
			position: relative;
			height: rem(198);
			width: rem(270);
			background: $color-darkgrey;
		}
			
		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		p {
			@include bodytext();
			font-weight: bold;
			padding: rem(5) rem(10);
			background: $color-black;
			color: $color-white;
		}
	}
}
