.window {
	&--music-player {
		&__wrapper {
			position: fixed;
			top: calc(100vh - 310px);
			left: rem(10);

			@include mq($from: screen-xs) {
				top: calc(100vh - 250px);
			}

			@include mq($from: screen-sm) {
				width: rem(326);
				left: calc(100vw - 370px);
				top: calc(100vh - 230px);
			}
			@include mq($from: screen-md) {
				right: auto;
				top: calc(100vh - 230px);
				left: rem(30);
			}
		}
	}
}

.window--music-player .window__content {
	background-color: $color-salmon;
}

.music-player {
	user-select: none !important;
	cursor: default;

	h1 {
		text-transform: initial;
	}

	&__top {
		@include bodytext();
		border-bottom: rem(1) solid $color-black;
		padding: rem(9) rem(10);

		display: grid;
		grid-template: 1fr / rem(50) 1fr;
		white-space: nowrap;

		@keyframes swipe {
			to {
				transform: translateX(-100%); // slight glitch with 5
			}
		}

		div {
			overflow: hidden;
			display: flex;

			.title-marquee {
				will-change: transform;
				// width: fit-content;
				font-weight: $weight-bold;
				animation: swipe 10s linear infinite;
				display: inline-flex;
			}
		}
	}

	&__controls {
		display: flex;
		border-bottom: rem(1) solid $color-black;

		.button {
			cursor: pointer;

			border-right: rem(1) solid $color-black;
			width: rem(50);
			height: rem(30);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: rem(13);
			line-height: 1;

			&:hover {
				background-color: darken($color-salmon, 5%);
			}

			svg {
				width: rem(30);
				height: rem(30);
			}
		}
	}

	&__canvas-container {
		background: $color-darkgrey;
		width: 100%;
		height: rem(50);

		canvas {
			width: 100%;
			height: 100%;
		}
	}
}
