.party-animal {
	height: calc(100vh - var(--bottombar-height) * 2);
	margin: var(--bottombar-height) 0;
	box-sizing: border-box;

	background-color: var(--color-secondary);
	color: var(--color-primary);
}
