.party-animal {
	height: calc(100vh - var(--bottombar-height) * 2);
	box-sizing: border-box;

	margin: 0 0 var(--bottombar-height);
	background-color: var(--color-secondary);
	color: var(--color-primary);

	@include mq(screen-md) {
		margin: var(--bottombar-height) 0;
	}
}
