.quiz {
	text-align: center;
	height: 100%;
	min-height: inherit;

	color: var(--color-primary);
	background-color: var(--color-secondary);

	&__skip-link {
		@include bodytext;
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		padding: 0 var(--page-outer-margin);
	}

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: inherit;

		display: grid;
		grid-gap: calc(var(--page-outer-margin) * 2);
		grid-template-rows: 1fr 1fr 1fr;

		padding: var(--page-outer-margin);
		padding-top: 50px;
		box-sizing: border-box;
	}

	* {
		text-transform: uppercase;
		font-weight: 600;
		line-height: 0.85;
	}

	&__title,
	&__count,
	&__answer {
		font-size: calc(22px + 4vw);
	}

	&__question,
	&__choises,
	&__choises button,
	&__description {
		font-size: calc(16px + 3vw);
	}

	&__choises {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;

		@keyframes spaceboots {
			0% {
				transform: translate(2px, 1px) rotate(0deg);
			}
			10% {
				transform: translate(-1px, -2px) rotate(-1deg);
			}
			20% {
				transform: translate(-3px, 0px) rotate(1deg);
			}
			30% {
				transform: translate(0px, 2px) rotate(0deg);
			}
			40% {
				transform: translate(1px, -1px) rotate(1deg);
			}
			50% {
				transform: translate(-1px, 2px) rotate(-1deg);
			}
			60% {
				transform: translate(-3px, 1px) rotate(0deg);
			}
			70% {
				transform: translate(2px, 1px) rotate(-1deg);
			}
			80% {
				transform: translate(-1px, -1px) rotate(1deg);
			}
			90% {
				transform: translate(2px, 2px) rotate(0deg);
			}
			100% {
				transform: translate(1px, -2px) rotate(-1deg);
			}
		}

		button {
			text-decoration: underline;

			&:hover {
				animation: spaceboots 0.8s infinite alternate-reverse;
			}
		}
	}

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__answer {
		display: grid;
		align-items: end;
	}

	&__question {
		display: grid;
		align-items: center;
		margin: 0 auto;
		margin-bottom: var(--page-outer-margin);
		width: 90%;
	}

	&__count {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: var(--page-outer-margin);
	}
}
