.responsible-icon {
	font-family: $font-sansserif;
	font-weight: 500;
	font-size: 28px;
	line-height: 0;

	color: $color-medium-violet;
	background: $color-light-lime;

	position: absolute;
	top: rem(5);
	left: rem(5);

	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(25);
	height: rem(25);

	pointer-events: none;
}
