.single-image {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;

	background: url('/img/spinner_44x44.gif') no-repeat center center;

	img {
		object-fit: contain;
    	height: 100%;
	}
	&.is-interactive {
		img {
    		cursor: zoom-in;
		}
	}
}