.style-info {
	@include bodytext();
	@include custom-scrollbar();
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	max-height: rem(160);

	@include mq($from: screen-md) {
		max-height: none;
		overflow: visible;
	}

	&__row {
		padding-top: rem(10);
		display: flex;

		&:first-of-type {
			padding-top: 0;
		}

		span {
			display: inline-block;
			width: 50%;
			box-sizing: border-box;

			&:first-child {
				padding-right: 1em;
			}
		}
	}

	p {
		@include bodytext();
		margin-bottom: rem(20);
	}

	.responsible,
	.re-runner {
		@include bodytext();
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;

		background-color: $color-black;
		color: $color-white;
		white-space: nowrap;
		padding: rem(3) 0;
		text-align: center;

		user-select: none;
		overflow: hidden;

		@keyframes marquee {
			to {
				transform: translateX(-100%);
			}
		}

		div {
			animation: marquee 10s linear infinite;
			display: inline-flex;
			align-items: center;
		}

		svg {
			height: 1em;
			width: 1em;
			fill: $color-white;
		}

		// give margin to element after
		+ div {
			padding-top: rem(20);
		}
		+ .re-runner + div {
			padding-top: rem(35);
		}
	}

	.re-runner {
		top: rem(19);
		background-color: $color-white;
		color: $color-black;
	}
}
