.text-reader {
	min-height: 100%;

	p {
		@include bodytext();
		padding: rem(20);
		// font-family: $font-typewriter;
		// font-size: rem(12);
		// line-height: 1.5;
	}

	b {
		font-weight: bold;
	}
}
