.video-player {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	video {
		position: relative;
		outline: 0;
		width: 100%;
		height: auto;
		max-height: 100%;
		z-index: 1;

		object-fit: cover;
	}

	.poster {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		img {
			width: 100%;
			height: 100%;
		}
		.loader {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			mix-blend-mode: multiply;
			background: url('/img/hourglass.gif') no-repeat center center;
			background-size: 25%;
		}

		em {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			background-color: rgba(255, 255, 255, 0.3);
		}
	}
}
