.window--wish-list {
	.window__content {
		overflow: visible;
	}
}

.wish-list {
	@include mq($until: screen-sm) {
		overflow: hidden;
		overflow-y: scroll;
		max-height: 100%;
		@include smiley-scrollbar();
	}

	position: relative;
	height: 100%;

	&__overview {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: rem(215);

		border-right: rem(1) solid $color-black;
		box-sizing: border-box;

		overflow: hidden;
		overflow-y: auto;
		@include smiley-scrollbar();
		&__item {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			max-width: 100%;

			&:hover {
				background-color: $color-lightgrey;

				.remove {
					opacity: 1;
				}
			}
			&.is-active {
				background-color: $color-lightgrey;
			}
		}

		.button {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
		}
		.remove {
			padding: rem(8) 0;
			justify-content: center;
			flex: 0 0 rem(30);
			svg {
				width: rem(30);
				height: rem(30);
			}
			opacity: 0;
			transition: opacity 0.1s ease;
		}
		.activate {
			padding: rem(8) 0 rem(8) rem(12);
			box-sizing: border-box;
			flex: 0 0 rem(185);
			justify-content: flex-start;

			img {
				display: inline-block;
				flex: 0 0 rem(30);
				max-width: rem(30);
				margin-right: rem(10);
			}
			p {
				@include bodytext();
				// font-size: rem(13);
				overflow: hidden;
				width: rem(185 + -12 - 30 - 10);
				white-space: nowrap;
				text-overflow: ellipsis;
				text-align: left;
			}
		}
	}

	&__details {
		display: none;

		@include mq($from: screen-sm) {
			display: block;
		}

		padding-left: rem(215);

		overflow: hidden;
		overflow-y: auto;
		max-height: 100%;
		@include smiley-scrollbar();

		.inner {
			padding-top: rem(28);
			padding-bottom: rem(40);
			max-width: rem(300);
			margin: 0 auto;

			h3 {
				@include windowtitle();
			}

			table {
				@include details-table();
			}
		}

		.button {
			@include link();
			font-size: rem(12);
			display: inline-flex;
			margin-bottom: rem(20);
		}

		.single-image {
			height: auto;
			max-width: rem(214);
			margin-bottom: rem(20);

			img {
				height: auto;
			}
		}
	}

	//mobile only
	&__accordion {
		&.is-active {
			background-color: $color-lightgrey;
			.content {
				max-height: rem(400);
			}
		}

		.trigger {
			cursor: pointer;
			padding: rem(8) rem(12);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				display: inline-block;
				text-align: left;
			}
			em {
				@include bodytext();
			}
			img {
				display: inline-block;
				flex: 0 0 rem(30);
				max-width: rem(30);
				margin-right: rem(15);
			}
			.icon {
				flex: 0 0 rem(30);
				max-width: rem(30);
				margin-left: auto;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				svg {
					width: rem(30);
					height: rem(30);
				}
			}
		}
		.content {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.2s ease;

			.button {
				display: inline-flex;
				margin-bottom: rem(20);
				@include link();
			}

			.inner {
				padding: 0 rem(30) rem(40) rem(55);
				table {
					@include details-table();
				}
			}
		}
	}
}
