.window--wish-list {
	.window__content {
		overflow: visible;
	}
}

.wish-list {
	@include mq($until: screen-sm) {
		overflow: hidden;
		overflow-y: scroll;
		max-height: 100%;
	}

	position: relative;
	height: rem(800) !important;
	max-height: calc(100vh - rem(150));

	display: flex !important;

	&__overview {
		// position: absolute;
		// top: 0;
		// left: 0;
		// bottom: 0;
		width: rem(250);

		border-right: rem(1) solid $color-black;
		box-sizing: border-box;

		overflow: hidden;
		overflow-y: auto;

		> * {
			border-bottom: rem(1) solid rgba(0, 0, 0, 0.2);
			padding-bottom: rem(10);
		}

		&__item {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			max-width: 100%;

			&:hover {
				background-color: $color-lightgrey;

				.remove {
					opacity: 1;
				}
			}
			&.is-active {
				background-color: $color-lightgrey;
			}
		}

		.button {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
		}

		$removeButton: rem(30);

		.remove {
			width: $removeButton;
			justify-content: center;

			svg {
				width: rem(15);
				height: rem(15);
			}

			opacity: 0;
			transition: opacity 0.1s ease;
		}
		.activate {
			padding: rem(5) rem(15);
			padding-right: 0;
			box-sizing: border-box;
			// flex: 0 0 rem(185);
			justify-content: flex-start;
			flex-grow: 1;
			width: calc(100% - #{$removeButton});

			img {
				display: inline-block;
				// flex: 0 0 rem(30);
				max-width: rem(40);
				margin-right: rem(10);
			}
			p {
				@include bodytext();
				// font-size: rem(13);
				overflow: hidden;
				// width: rem(185 + -12 - 30 - 10);
				white-space: nowrap;
				text-overflow: ellipsis;
				text-align: left;
			}
		}
	}

	&__details {
		display: none;
		overflow: auto;

		@include mq($from: screen-sm) {
			display: block;
		}

		flex-grow: 1;

		// padding-left: rem(215);

		// overflow: hidden;
		// overflow-y: auto;
		max-height: 100%;

		.inner {
			padding-top: rem(28);
			padding-bottom: rem(40);
			max-width: rem(300);
			margin: 0 auto;

			.style-info {
				padding-top: rem(10);
			}

			h3 {
				@include windowtitle();
			}

			table {
				@include details-table();
			}
		}

		.button {
			@include bodytext();
			@include link();
			font-size: rem(12);
			display: inline-flex;
			margin: rem(10) 0;
		}

		.single-image {
			height: auto;
			max-width: rem(214);
			margin-bottom: rem(20);

			img {
				height: auto;
			}
		}

		.empty {
			@include bodytext();
		}
	}

	//mobile only
	&__accordion {
		&.is-active {
			background-color: $color-lightgrey;
			.content {
				max-height: rem(400);
			}
		}

		.trigger {
			cursor: pointer;
			padding: rem(8) rem(12);
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				display: inline-block;
				text-align: left;
			}
			em {
				@include bodytext();
			}
			img {
				display: inline-block;
				flex: 0 0 rem(30);
				max-width: rem(30);
				margin-right: rem(15);
			}
			.icon {
				flex: 0 0 rem(30);
				max-width: rem(30);
				margin-left: auto;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				svg {
					width: rem(30);
					height: rem(30);
				}
			}
		}
		.content {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.2s ease;

			.button {
				display: inline-flex;
				margin-bottom: rem(20);
				@include link();
			}

			.inner {
				padding: 0 rem(30) rem(40) rem(55);
				table {
					@include details-table();
				}
			}
		}
	}
}
