body {
	color: var(--color-secondary);

	&::-webkit-scrollbar,
	*::-webkit-scrollbar {
		display: none;
	}

	&.no-cursor {
		* {
			cursor: none !important;
		}
	}
}

#__layout {
	svg {
		// width: 2em;
		// height: 2em;
		fill: currentColor;
	}

	* {
		font-family: $font-sansserif;
	}
}

button {
	@include bodytext();
}
