@import './settings';

@mixin custom-scrollbar() {
	scrollbar-width: auto;
	scrollbar-color: $color-white $color-grey;

	&::-webkit-scrollbar {
		width: rem(30);
	}
	&::-webkit-scrollbar-track {
		background: $color-lightgrey;
		border-left: rem(1) solid $color-black;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $color-white;
		padding: rem(10);
		border-radius: 0;
		border: 0;
		border-left: rem(1) solid $color-black;
		box-shadow: rem(1) rem(1) 0 0 $color-black, 0 rem(-1) 0 0 $color-black;

		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2NkIBIwEqmOAaTwPzGKSTKRGAPBVhMFSFI4QJ4BAMO9Agl0aloWAAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

@mixin details-table() {
	table-layout: fixed;
	text-align: left;

	tr td {
		padding: 0;
		@include bodytext();
	}
	tr th {
		@include bodytext();
		color: $color-darkgrey;
		white-space: nowrap;
		padding-right: rem(10);
	}
}

@mixin bevel($inverted: false) {
	@if $inverted {
		box-shadow: inset -1px -1px rgba($color-white, 0.7),
			inset 1px 1px rgba($color-black, 0.2),
			inset -2px -2px rgba($color-white, 0.7),
			inset 2px 2px rgba($color-black, 0.2);
	} @else {
		box-shadow: inset -1px -1px rgba($color-black, 0.2),
			inset 1px 1px $color-white, inset -2px -2px rgba($color-black, 0.2),
			inset 2px 2px $color-white;
	}
}

@mixin full-width-button() {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: $color-white;
	padding: 0 rem(10);
	height: rem(35);
	border-top: rem(1) solid $color-black;
	text-align: left;

	&:hover {
		background-color: $color-lightgrey;
	}

	span {
		//icon
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: rem(20);
		height: rem(20);
		margin-right: rem(10);
	}
	p {
		@include link();
		white-space: nowrap;
		max-width: rem(110);
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@mixin window-button() {
	position: absolute;
	right: 0;

	flex: 0 0 rem(30);
	width: rem(30);
	height: rem(30);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: rem(11);
	font-weight: $weight-medium;
	.icon {
		// width: rem(30);
		width: rem(20);
		height: rem(30);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		svg {
			width: rem(30);
			height: rem(30);
		}
	}
}

@keyframes message-blink {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.checkmark {
	fill: none;
	stroke: #000;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 5px;
}
