strong {
	font-weight: $weight-bold;
}

em {
	font-style: italic;
}

@mixin megatype() {
	font-size: rem(50);
	line-height: 1.2;
	font-weight: $weight-normal;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

@mixin windowtitle() {
	font-size: rem(15);
	font-weight: $weight-medium;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

@mixin headline() {
	font-size: rem(16);
	font-weight: $weight-medium;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

@mixin bodytext() {
	font-size: rem(11);
	font-weight: $weight-normal;
	line-height: 1.27;
}

@mixin link() {
	font-size: rem(11);
	font-weight: $weight-medium;
	color: $color-blue;
	line-height: 1.27;
	text-decoration: underline;
}

h2,
h3 {
	@include headline();
}
p {
	@include bodytext();
}

.megatype {
	@include megatype();
}
.headline {
	@include headline();
}
.windowtitle {
	@include windowtitle();
}
.bodytext {
	@include bodytext();
}