strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

@mixin title() {
	font-size: rem(50);
	line-height: 1.2;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

@mixin headline() {
	font-size: rem(15);
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

@mixin bodytext() {
	font-size: rem(11);
	font-weight: 500;
	line-height: 1.27;
}