/* --- FONTS --- */
$font-sansserif: Helvetica Neue, 'Roboto', Arial, monaco, monospace;
$font-typewriter: Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 


/* --- COLORS --- */
$color-black: #000000;
$color-white: #FFFFFF;
$color-darkgrey: #4A4A49;
$color-grey: #C6C6C6;
$color-lightgrey: #EDEDED;
$color-salmon: #FBD5C5;
$color-yellow: #FFFF00;
$color-green: #00C808;
$color-lime: #24FF00;
$color-blue: #1400FF;


$z-index-assistant: 4000;
$z-index-gallery: 4500;
$z-index-support: 5000;
$z-index-message: 6000;








@keyframes message-blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}