/* --- FONTS --- */
$primary-font: Helvetica Neue, Arial, monaco, monospace;
$secondary-font: Verdana, sans-serif;


/* --- COLORS --- */
$color-black: #000000;
$color-white: #FFFFFF;
$color-darkgrey: #4A4A49;
$color-grey: #C6C6C6;
$color-lightgrey: #EDEDED;
$color-salmon: #FBD5C5;
$color-yellow: #FFFF00;

$z-index-assistant: 4000;
$z-index-support: 5000;