.window {
	color: black;
	border: 1px solid grey;

	position: absolute;
	top: 10%;
	left: 10%;

	min-width: rem(300);
	background-color: #eee;
	
	&__top {
		border-bottom: 1px solid grey;		
		display: flex;
		justify-content: space-between;
		
		span {
			padding: rem(5);
			display: inline-flex;			
		}
		button {
			padding: rem(5);
			display: inline-flex;			
		}

	}
	&__inner {		
		overflow: auto;
		padding: rem(30);
	}
}