.window {
	&--assistant {
		z-index: $z-index-assistant !important;

		.title {
			cursor: default;
		}

		position: fixed;
		top: auto;
		left: rem(10);
		right: rem(10);
		bottom: rem(10 + 30); //ios navbar + gutter + support (heights)

		@include mq($from: screen-sm) {
			bottom: rem(20);
			left: rem(20);
			width: rem(276);
		}
		@include mq($from: screen-md) {
			top: 4vh; // align with text
			left: auto;
			right: rem(20);
			bottom: auto;
		}

		.window__content {
			height: auto;
		}
		// .window__top {
		// 	.title {
		// 		border-bottom: rem(1) solid $color-black;
		// 	}
		// }

		.button.expand {
			@include full-width-button();
			border-top: 0;
			border-bottom: 0;

			span {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: rem(20);
				height: rem(20);
				margin-right: rem(10);
			}
			svg {
				width: rem(15);
				height: rem(15);
			}
			p {
				color: $color-black;
				text-decoration: underline;
			}
		}
		hr {
			border-top: rem(1) solid $color-black;
			border-bottom: 0;
			height: 0;

			@include mq($until: screen-md) {
				border-bottom: 0;
			}
		}

		&.assistant-mode--0,
		&.assistant-mode--3,
		&.assistant-mode--4 {
			.window__top {
				.title {
					@include mq($until: screen-md) {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

.assistant {
	h3 {
		@include headline();
		// color: $color-amaranth;
	}
	p {
		@include bodytext();
	}

	b {
		font-weight: bold;
	}

	&__content {
		overflow: hidden;
		max-height: rem(180);
		transition: max-height 0.2s ease;
		border-top: rem(1) solid $color-black;

		&.is-collapsed {
			border-top: 0;
			max-height: 0 !important;
		}

		&.scroll {
			@include custom-scrollbar();
			overflow: hidden;
			overflow-y: auto;
			max-height: rem(180);

			@include mq($from: screen-md) {
				max-height: none;
				overflow: visible;
			}
		}

		@include mq($from: screen-md) {
			border-top: 0;
			max-height: none;
		}
	}
	&__text {
		padding: rem(9) rem(10);
		h3 {
			margin-bottom: rem(10);
		}
		strong {
			display: block;
			margin-top: rem(5);
			font-family: $font-serif;
			font-size: rem(15);
			line-height: rem(17);
			// color: $color-blue;
		}
		ol {
			li {
				@include bodytext();
				margin-left: rem(15);
				list-style-type: decimal;
			}
			li + li {
				margin-top: rem(5);
			}
		}
	}

	&__filters {
		@include custom-scrollbar();
		overflow: hidden;
		overflow-y: auto;
		max-height: rem(180);

		@include mq($from: screen-md) {
			max-height: none;
			overflow: visible;
		}
		h3 {
			padding: rem(9) rem(10) 0;
			margin-bottom: rem(10);
		}
		p {
			padding: 0 rem(9) rem(10);
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			border-top: rem(1) solid $color-black;
		}
	}
	&__product-details {
		position: relative;
		@include custom-scrollbar();
		overflow: hidden;
		overflow-y: scroll;
		max-height: rem(160);
		padding: rem(9) rem(10);

		@include mq($from: screen-md) {
			max-height: none;
			overflow: visible;
		}

		.responsible {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			margin-bottom: rem(20);
			background-color: $color-lime;
			color: $color-purple;
			font-size: rem(11);
			font-weight: 500;
			text-transform: uppercase;
			white-space: nowrap;
			padding: rem(3) 0;
			text-align: center;

			& + table {
				margin-top: rem(20);
			}

			@keyframes marquee {
				to {
					transform: translateX(100%);
				}
			}

			div {
				animation: marquee 10s linear infinite;
				display: inline-block;
			}
		}
		p {
			@include bodytext();
			margin-bottom: rem(20);
		}
		table {
			@include details-table();
		}
		.link {
			cursor: pointer;
			display: block;
			padding: 0;
			@include link();
		}
	}

	&__ctas {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		a {
			color: $color-black;
		}

		.button {
			@include full-width-button();
			border-top: rem(1) solid $color-black;
			text-align: left;
			box-sizing: border-box;

			&:hover {
				background-color: $color-lightgrey;
			}
			img {
				width: 1em;
				height: 1em;
				display: inline-flex;
				animation: color-wheel 2s infinite linear;
			}

			&.add-to-wishlist,
			&.download-wishlist {
				background-color: $color-black;
				color: white;

				* {
					fill: currentColor;
				}

				&.is-active {
					// background-color: lighten($color-yellow, 20%);
					background-color: $color-black;
				}
			}

			flex: 0 0 100%;

			&--half {
				width: 50%;
				flex: 0 0 50%;
				border-right: rem(1) solid $color-black;
			}
		}
		.button--half + .button--half {
			border-right: 0;
		}

		.download-wishlist {
			.icon {
				margin-right: 0;
			}
			svg {
				width: rem(11);
				height: rem(11);
			}
		}

		.add-to-wishlist {
			position: relative;
			.icon {
				position: relative;
				z-index: 1;
				position: absolute;
				margin: 0;

				.checkmark {
					opacity: 0;
				}

				svg {
					width: 1em;
					height: 1em;
				}
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				display: inline-flex;
				width: 0.001%;
				background-color: $color-lime;
				z-index: 0;
			}

			p {
				position: relative;
				z-index: 1;
				padding-left: 0;
				transition: padding-left 0.2s ease;
			}

			&.is-animating {
				&:after {
					animation: dye-background 2s;
					animation-iteration-count: 1;
				}
			}

			&.is-active {
				p {
					padding-left: rem(20);
				}

				.checkmark {
					transition: opacity 0.2em 0.2em;
					opacity: 1;

					// animation: checkmark-stroke 0.5s;
					// animation-fill-mode: forwards;
					// animation-iteration-count: 1;
					// animation-delay: 0.2s;
					// stroke-linejoin: round;
				}
			}
		}

		.collage-buttons {
			width: 100%;

			.row {
				display: flex;
			}

			.title {
				display: flex;
				align-items: center;
				width: 70%;
				border-top: 1px solid;
				padding: 0 rem(10);
			}

			svg {
				width: 100%;
				height: 100%;
			}

			.left {
				transform: rotate(-90deg);
			}
			.right {
				transform: rotate(90deg);
			}

			.button {
				&--half {
					width: 50%;
				}

				&--inline {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: auto;
					flex: 0 0 15%;

					border-left: 1px solid;

					p {
						color: black;
						text-decoration: none;
					}
				}
			}
		}

		@keyframes color-wheel {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		@keyframes dye-background {
			0% {
				width: 0.001%;
			}
			40% {
				width: 100%;
			}
			60% {
				width: 100%;
			}
			100% {
				width: 0.001%;
			}
		}

		@keyframes checkmark-stroke {
			0% {
				stroke-dashoffset: 400;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
	}

	.collage-ctas {
		display: flex;

		button {
			@include full-width-button();
			width: 50%;

			&:first-of-type {
				border-right: 1px solid;
			}
		}
	}
}
