:root {
	--assistant-width: 100%;

	@include mq(screen-sm) {
		--assistant-width: rem(340);
	}
}

@keyframes delayed {
	to {
		opacity: 1;
	}
}

.window {
	&--assistant {
		z-index: get-z('assistant');

		background-color: transparent;

		opacity: 0;
		animation: delayed 0s 0.3s forwards;

		position: fixed;
		top: auto;
		left: 45px;
		right: var(--menu-button-width);
		// bottom: rem(10 + 30 + 70); //ios navbar + gutter + support (heights)
		bottom: rem(0);

		user-select: text;

		@include mq($from: screen-sm) {
			bottom: calc(var(--bottombar-height) + var(--page-outer-margin));
			left: var(--page-outer-margin);
		}
		@include mq($from: screen-md) {
			top: var(--page-outer-margin);
			left: auto;
			right: var(--page-outer-margin);
			bottom: auto;
			width: var(--assistant-width);
		}

		.window__content {
			overflow: hidden;
			background: var(--color-primary);
		}

		.window__top {
			background: transparent;

			.title {
				@include windowtitle();
				padding: 0;

				cursor: default;
				overflow: visible;

				display: flex;
				// align-items: center;
				justify-content: center;

				img {
					width: auto;
					height: 100%;
					object-fit: contain;

					@include mq($until: screen-md) {
						// max-height: rem(30);
						height: var(--bottombar-height);
					}
				}

				// used to fill the space outside the png
				span {
					width: 0px;
					// height: 100%;
					flex-grow: 1;
					background: var(--color-primary);
				}
			}

			.plus-icon {
				position: absolute;
				width: rem(20);
				display: flex;
				align-items: center;
				left: -2rem;

				&:before,
				&:after {
					content: '';
					transition: transform 0.25s $easeInOutQuint;

					position: absolute;
					width: 100%;
					height: rem(5);
					background-color: var(--color-primary);
				}

				transition: transform 0.5s $easeInOutQuint;

				&:before {
					transform: rotate(90deg) scaleX(0);
				}

				&.closed {
					&:before {
						transform: rotate(90deg);
						// transform: translateY(rem(-4));
					}
					&:after {
						// transform: translateY(rem(4));
					}
				}
			}

			.icon {
				color: var(--color-primary);
				width: var(--assistant-width);
				height: calc(var(--assistant-width) * 0.1695); // lol..
			}
		}

		.button.expand {
			@include full-width-button();
			border-top: 0;
			border-bottom: 0;

			span {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: rem(20);
				height: rem(20);
				margin-right: rem(10);
			}

			svg {
				width: rem(15);
				height: rem(15);
			}

			p {
				color: $color-black;
				text-decoration: underline;
			}
		}

		hr {
			border-top: rem(1) solid $color-black;
			border-bottom: 0;
			height: 0;

			@include mq($until: screen-md) {
				border-bottom: 0;
			}
		}

		&.assistant-mode--0,
		&.assistant-mode--3,
		&.assistant-mode--4 {
			.window__top {
				.title {
					@include mq($until: screen-md) {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

@mixin button-animation() {
	* {
		z-index: 1;
	}

	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: inline-flex;
		width: 100%;
		transform: scaleX(0);
		transform-origin: left;
		background-color: rgba($color-buttonactive, 0.7);
		z-index: 0;
	}

	&.is-animating {
		&:after {
			animation: dye-background 1s linear;
		}
	}
}

.assistant {
	h3 {
		@include headline();
	}
	p {
		@include bodytext();
	}

	b {
		font-weight: bold;
	}

	&__content {
		overflow: hidden;
		max-height: rem(180);
		transition: max-height 0.2s ease;
		border-top: rem(1) solid rgba(0, 0, 0, 0.2);

		&.is-collapsed {
			border-top: 0;
			max-height: 0 !important;
		}

		&.scroll {
			// @include custom-scrollbar();
			overflow: hidden;
			overflow-y: auto;
			max-height: rem(180);

			@include mq($from: screen-md) {
				max-height: none;
				overflow: visible;
			}
		}

		@include mq($from: screen-md) {
			border-top: 0;
			max-height: none;
		}
	}

	&__text {
		padding: rem(9) rem(10);

		h3 {
			margin-bottom: rem(10);
		}

		strong {
			display: block;
			margin-top: rem(5);
			font-family: $font-serif;
			font-size: rem(15);
			line-height: rem(17);
			// color: $color-blue;
		}

		ol {
			li {
				@include bodytext();
				margin-left: rem(15);
				list-style-type: decimal;
			}

			li + li {
				margin-top: rem(5);
			}
		}
	}

	&__filters {
		// @include custom-scrollbar();
		overflow: hidden;
		overflow-y: auto;
		max-height: rem(180);

		@include mq($from: screen-md) {
			max-height: none;
			overflow: visible;
		}

		h3 {
			padding: rem(9) rem(10) 0;
			margin-bottom: rem(10);
		}

		p {
			padding: 0 rem(9) rem(10);
		}

		&__list {
			display: grid;
			grid-gap: 1px;
			background-color: rgba(0, 0, 0, 0.2);
			grid-template-columns: repeat(6, 1fr);
			border-top: rem(1) solid rgba(0, 0, 0, 1);

			.filter-button {
				grid-column: span 3;

				&.is-big {
					grid-column: span 2;
				}
			}
		}
	}

	&__product-details {
		.link {
			cursor: pointer;
			display: block;
			padding: 0;
			@include link();
		}

		.style-info {
			padding: rem(9) rem(10);
		}
	}

	&__search {
		position: relative;
		display: flex;
		align-items: center;

		input {
			@include bodytext();
			background: none;
			width: 100%;
			color: var(--color-secondary);
			border: 0;
			border-top: 1px solid;
			padding: 10px;
			text-transform: uppercase;
			outline: 0;

			&::placeholder {
				color: inherit;
			}
		}

		svg {
			width: 1em;
			position: absolute;
			right: 10px;
			pointer-events: none;
		}
	}

	&__ctas {
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1px;
		background-color: $color-black;

		a {
			color: $color-black;
		}

		.button {
			@include full-width-button();

			text-align: left;
			box-sizing: border-box;
			background-color: var(--color-primary);

			&:hover {
				background-color: $color-buttonhover;
			}

			&.is-animating {
				position: relative;
				@include button-animation();
			}

			img {
				width: 1em;
				height: 1em;
				display: inline-flex;
				animation: color-wheel 2s infinite linear;
			}

			&.add-to-wishlist,
			&.download-wishlist {
				background-color: $color-black;
				color: white;

				* {
					fill: currentColor;
				}

				&.is-active {
				}
			}

			grid-column: span 2;

			&--half {
				grid-column: span 1;
			}
		}
		.button--half + .button--half {
			border-right: 0;
		}

		.download-wishlist {
			.icon {
				margin-right: 0;
			}
			svg {
				width: rem(11);
				height: rem(11);
			}
		}

		.add-to-wishlist {
			position: relative;

			.icon {
				position: relative;
				z-index: 1;
				position: absolute;
				margin: 0;

				.checkmark {
					opacity: 0;
				}

				svg {
					width: 1em;
					height: 1em;
				}
			}

			p {
				position: relative;
				z-index: 1;
				padding-left: 0;
				transition: padding-left 0.2s ease;
			}

			&.is-active {
				p {
					padding-left: rem(20);
				}

				.checkmark {
					transition: opacity 0.2em 0.2em;
					opacity: 1;

					// animation: checkmark-stroke 0.5s;
					// animation-fill-mode: forwards;
					// animation-iteration-count: 1;
					// animation-delay: 0.2s;
					// stroke-linejoin: round;
				}
			}
		}

		.collage-buttons {
			width: 100%;

			.row {
				display: flex;
			}

			.title {
				display: flex;
				align-items: center;
				width: 70%;
				border-top: 1px solid;
				padding: 0 rem(10);
			}

			svg {
				width: 100%;
				height: 100%;
			}

			.left {
				transform: rotate(-90deg);
			}
			.right {
				transform: rotate(90deg);
			}

			.button {
				&--half {
					width: 50%;
				}

				&--inline {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: auto;
					flex: 0 0 15%;

					border-left: 1px solid;

					p {
						color: black;
						text-decoration: none;
					}
				}
			}
		}

		@keyframes color-wheel {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		@keyframes dye-background {
			to {
				transform: scaleX(1);
			}
			// 60% {
			// 	width: 100%;
			// }
			// 100% {
			// 	width: 0.001%;
			// }
		}

		@keyframes checkmark-stroke {
			0% {
				stroke-dashoffset: 400;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
	}

	.collage-ctas {
		display: flex;

		button {
			@include full-width-button();
			width: 50%;

			&:first-of-type {
				border-right: 1px solid;
			}
		}
	}
}
