.cookie-banner {
	// animation: cookie-animation 0.5s forwards $easeInOutQuint;

	// transform: translateY(100%);

	@include window-box-shadow();

	position: fixed;
	bottom: rem(10);
	right: rem(10);
	z-index: $z-index-cookies;

	max-width: rem(250);

	background-color: var(--color-secondary);
	border: 1px solid;
	color: var(--color-primary);
	padding: rem(10);

	transition: transform 0.5s $easeInOutQuint;

	&.pushed {
		transform: translateY(rem(-70));
		animation: none;
	}

	h3 {
		@include bodytext();
		font-weight: 600;
	}
	p {
		@include bodytext();
		font-weight: 600;

		max-width: rem(400);

		@include mq($from: screen-md) {
			max-width: rem(650);
		}
	}

	a {
		color: var(--color-primary);
	}

	button {
		@include bodytext();
		@include clickarea(1em);

		font-weight: 600;
		// position: absolute;
		// right: 1rem;

		display: block;

		font-family: $font-sansserif;

		// padding: 0.5em 2em;
		line-height: 1.5;
		text-decoration: underline;

		margin-top: rem(50);
	}
}

@keyframes cookie-animation {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
