.dashboard {
	&__shortcuts {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1px;

		.shortcut {
			user-select: none;

			&:hover {
				color: $color-buttonhover;
			}
		}
	}
}
