.dashboard {
	&__shortcuts {
		display: grid;
		// grid-template-columns: repeat(auto-fill, 1fr);
		grid-auto-flow: column;
		grid-gap: 1px;
		z-index: get-z('bottombar');
		border-top: var(--color-border);

		position: fixed;
		bottom: 0;
		width: 100%;
		height: var(--bottombar-height);

		.shortcut {
			user-select: none;

			&:hover {
				color: $color-buttonhover;
			}
		}
	}
}
