.desktop {
	background-color: orange;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	min-height: -webkit-fill-available;

	background-size: cover;
	image-rendering: pixelated;

	* {
		image-rendering: initial;
	}

	&__shortcuts {
		padding: rem(10);
		position: relative;
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		@include mq($from: screen-md) {
			height: calc(100% - #{rem(40 + 60)});
			padding: rem(10);
			display: grid;

			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(8, 1fr);
		}
	}
	&__windows {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
	}
}
