.desktop {
	// background-color: $color-marigold;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	min-width: 1024px;

	overflow: hidden;

	// background-size: cover;
	background-position: center 45%;
	background-repeat: no-repeat;
	// image-rendering: pixelated;

	display: flex;
	flex-direction: column-reverse;

	pointer-events: none;

	transition: background-color 0.1s $easeInOutQuint;
	background-color: $color-imagebg;

	* {
		image-rendering: initial;
		pointer-events: auto;
	}

	&.dark {
		background: $color-black;
	}

	&__shortcuts {
		padding: 0;
		position: relative;
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;

		@include mq($from: screen-md) {
			height: 100%;
			// height: calc(100vh - #{rem(40 + 60)});
			padding: 0 rem(30);
			display: grid;

			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(8, 1fr);
		}
	}
	&__windows {
		position: fixed;
		z-index: 10001;
		top: 0;
		left: 0;
	}

	&__static {
		position: relative;
		height: 1%;
		flex-grow: 1;
	}

	.logo {
		@include mq($until: screen-md) {
			bottom: rem(220);
		}
	}

	&.screensaver-running {
		* {
			animation-play-state: paused !important;
		}
	}

	button {
		font-family: $font-sansserif;
	}
}
