:root {
	--page-outer-margin: rem(10);

	@include mq(screen-md) {
		--page-outer-margin: rem(20);
	}
}

.desktop {
	user-select: none;

	background-position: center 45%;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column-reverse;

	pointer-events: none;

	transition: background-color 0.1s $easeInOutQuint;
	background-color: var(--color-background);

	* {
		image-rendering: initial;
		pointer-events: auto;
	}

	&.dark {
		background: var(--color-secondary);
	}

	&__background {
		@include windowtitle();
		font-size: 5vw;
		color: var(--color-primary);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		padding-bottom: 70px;
		box-sizing: border-box;
		padding: var(--page-outer-margin) calc(var(--page-outer-margin) / 2);

		@include mq(screen-md) {
			padding: calc(var(--page-outer-margin) / 2 + var(--bottombar-height))
				calc(var(--page-outer-margin) / 2);
			justify-content: flex-end;
			font-size: 2.25vw;
		}
	}

	&__shortcuts {
		padding: 0;
		position: relative;
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;

		@include mq($from: screen-md) {
			height: 100%;
			padding: 0 rem(30);
			display: grid;

			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(8, 1fr);
		}
	}
	&__windows {
		position: fixed;
		z-index: get-z('windows');
		// z-index: 1000;
		top: 0;
		left: 0;
	}

	&__static {
		position: relative;
		min-height: calc(100vh - var(--bottombar-height));
		padding-bottom: var(--bottombar-height);
	}

	.logo {
		@include mq($until: screen-md) {
			bottom: rem(220);
		}
	}

	&.screensaver-running {
		* {
			animation-play-state: paused !important;
		}
	}

	button {
		font-family: $font-sansserif;
	}
}
