.higher-love {
	height: 100vh;

	position: relative;

	display: grid;
	align-items: flex-start;

	@include mq(screen-md) {
		grid-auto-flow: column;
		grid-template-columns: 1fr 350px;
		place-items: center;
	}

	&__background {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.higher-love-video {
	--width: 100vw;

	position: relative;
	z-index: 1;

	font-size: 32px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-weight: 500;

	display: flex;
	flex-direction: column;
	height: 100%;

	@include mq(screen-md) {
		@include windowtitle;
		--width: calc((100vw - 350px) - 15vw);
		margin-top: -10vh;
		height: auto;
	}

	&__trumpet {
		color: var(--color-ss-yellow);
		letter-spacing: inherit;
		margin: 15px 0 0 15px;

		@include mq(screen-md) {
			margin: 0;
		}
	}

	&__title {
		color: var(--color-ss-blush);
		width: var(--width);
		max-width: 90vw;
		margin: 0 0 0 15px;

		@include mq(screen-md) {
			margin: 0 0 0.3em 0;
		}
	}

	&__youtube {
		position: relative;

		width: var(--width);
		height: calc(var(--width) * 9 / 16);

		margin-top: auto;

		margin-bottom: 10px;
	}

	iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.higher-love-sidebar {
	position: relative;
	z-index: 1;
	display: grid;
	gap: 10px;

	// @include mq(screen-md) {
	// 	gap: 30px;
	// }

	&__item {
		--width: 50vmin;

		position: relative;
		width: var(--width);
		height: calc(var(--width) * 9 / 16);

		@include mq(screen-md) {
			--width: 250px;
			margin-top: 15px;
		}

		video,
		iframe,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:after {
			transition: opacity 0.2s;
			content: '';
			position: absolute;
			inset: 0;
			background: white;
			opacity: 0.3;
		}

		&:hover {
			.higher-love-sidebar__ui {
				opacity: 1;
			}

			&:after {
				opacity: 0;
			}
		}
	}

	&__ui {
		@include mq(screen-md) {
			transition: opacity 0.2s;
			opacity: 0;
		}
	}

	&__nav {
		font-size: 22px;
		color: var(--color-ss-blush);
		user-select: none;
	}

	&__title {
		@include bodytext;
		position: absolute;
		z-index: 2;
		text-align: right;
		display: block;
		width: 10em;
		bottom: -10px;
		right: 10px;

		@include mq(screen-md) {
			top: -1em;
			font-size: 16px;
			right: calc(100% - 5em);
		}

		span {
			color: var(--color-ss-blush);
			background-color: var(--color-ss-yellow);
			line-height: 1.6;
			// box-shadow: 0 0 2px 1px var(--color-ss-yellow);
			outline: 2px solid var(--color-ss-yellow);
		}
	}

	&__click-to-play {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translate(-50%, -50%);
		color: var(--color-ss-yellow);

		@include mq($until: screen-md) {
			opacity: 0;
		}
	}
}

.hooper {
	@include mq($until: screen-md) {
		overflow: auto;
		height: 150px !important;
	}

	@include mq(screen-md) {
		height: 51vh !important;
	}
}

.hooper-list {
	@include mq(screen-md) {
		overflow: unset !important;
		overflow-y: clip !important;
	}
}

.hooper-track {
	@include mq($until: screen-md) {
		margin-left: -45px;
	}
}

.hooper-slide {
	@include mq($until: screen-md) {
		margin: 0 5px !important;
	}
}
