.login {
	@include megatype();

	position: relative;
	z-index: 1;
	height: 100vh;

	display: grid;
	place-items: center;

	overflow: hidden;
	color: var(--color-primary);
	background-color: var(--color-secondary);

	h1 {
		font-size: 17.5vh;
		line-height: 0.8;
		word-break: break-word;
		hyphens: auto;
		width: 4em;
		user-select: none;
	}
}

.login-input {
	display: flex;
	align-items: center;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	text-align: center;

	background-size: cover;

	font-size: 7vw;
	letter-spacing: 0;

	.form {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 100%;

		@include mq($from: screen-md) {
			margin-bottom: 0;
		}

		h1 {
			font-size: 1em;
			max-width: 10.3em;
			display: inline-block;
		}

		// &__input {
		// 	font-family: $font-sansserif;
		// 	padding: 0;
		// 	font-weight: inherit;
		// 	border: none;
		// 	background: none;

		// 	font-size: 2em;
		// 	width: 100%;

		// 	margin-bottom: 0.5em;
		// 	color: var(--color-primary);

		// 	outline: none;
		// 	padding-bottom: rem(10);
		// 	text-align: center;

		// 	&.is-invalid {
		// 		color: $color-red;
		// 	}

		// 	&::placeholder {
		// 		color: inherit;
		// 	}

		// 	// &:focus::placeholder {
		// 	// 	color: transparent;
		// 	// }
		// }

		button {
			font-family: $font-sansserif;
			color: var(--color-secondary);

			@include windowtitle();
			background-color: var(--color-primary);
			padding: rem(10);

			svg {
				display: inline-flex;
				width: rem(80);
				height: rem(80);
				fill: currentColor;
			}

			&.is-invalid {
				color: $color-black;
				background-color: $color-red;
			}
		}
	}
}

// .login-slide {
// 	background-size: cover;
// 	background-position: center;
// 	display: flex;
// 	align-items: flex-end;
// 	font-weight: 500;
// 	line-height: 0.9;

// 	position: relative;
// 	z-index: 1;

// 	cursor: pointer;

// 	transform: translateZ(0);

// 	.background {
// 		height: 100vh;
// 		width: 100vw;
// 		position: absolute;
// 		z-index: -1;
// 		background-size: 100%;
// 		object-fit: cover;
// 	}

// 	&.one {
// 	}

// 	&.two {
// 		// color: $color-purple;
// 		font-size: 8vmax;
// 	}

// 	&.three {
// 		align-items: flex-start;
// 		justify-content: flex-end;
// 	}

// 	.logo {
// 		top: auto;
// 		bottom: rem(20);

// 		svg {
// 			opacity: 1;
// 			fill: $color-black;
// 		}
// 	}
// }
