// transition between slides
.slide-transition-enter-active,
.slide-transition-leave-active {
	transition: all 1s ease;

	> * {
		transition: all 1s ease;
	}
}

.slide-transition-leave-to {
	transform: translateX(-10%);
	opacity: 0;

	> * {
		transform: translateX(-100%);
	}
}
.slide-transition-enter {
	transform: translateX(10%);
	opacity: 0;

	> * {
		transform: translateX(100%);
	}
}

.startup-transition-enter-active,
.startup-transition-leave-active {
	transition: opacity 1s ease;
}
.startup-transition-enter,
.startup-transition-leave-to {
	opacity: 0;
}

// style the 'vue-typer' text
.vue-typer {
	padding-bottom: rem(80);
	width: 100%;
	// height: 100%;

	.custom.char {
		&.typed {
			color: currentColor;
		}
	}
}

.login {
	@include megatype();
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	// image-rendering: pixelated;

	position: relative;
	z-index: 1;

	> * {
		overflow: hidden;
		position: absolute;
		width: inherit;
		height: inherit;
	}
}

.login-input {
	display: flex;
	align-items: center;
	min-height: 100vh;
	min-height: -webkit-fill-available;

	background-size: cover;

	// @include mq($from: screen-md) {
	// 	align-items: flex-end;
	// }

	.form {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 10vw;

		margin-bottom: rem(80);
		@include mq($from: screen-md) {
			margin-bottom: 0;
		}

		&__input {
			font-family: $font-sansserif;
			padding: 0;
			font-weight: 500;
			border: none;
			background: none;

			font-size: 10vw;
			width: 75%;
			text-align: center;
			color: $color-202020-green;

			outline: none;

			&.is-invalid {
				color: $color-red;
			}

			&::placeholder {
				color: $color-white;
			}

			&:focus::placeholder {
				color: transparent;
			}
		}

		button {
			position: absolute;
			right: 5vw;

			top: 50%;
			transform: translateY(-50%);

			width: rem(80);
			height: rem(80);

			font-weight: 600;
			color: $color-lime;

			svg {
				display: inline-flex;
				width: rem(80);
				height: rem(80);
				fill: currentColor;
			}

			@include mq($from: screen-md) {
				right: 3vw;
				width: 10vw;
				height: 10vw;
				font-size: 10vw;
			}

			&.is-invalid {
				color: $color-red;
			}

			display: none;
			&.is-active {
				display: block;
			}
		}
	}
}

.login-slide {
	background-size: cover;
	background-position: center;
	display: flex;
	// align-items: flex-end;
	align-items: center;
	font-weight: 500;
	line-height: 0.9;

	position: relative;
	z-index: 1;

	cursor: pointer;

	transform: translateZ(0);

	&.one {
	}

	&.two {
		color: $color-purple;
		font-size: 8vmax;
	}

	.login-logo {
		width: 100%;
		height: 100%;
		// top: auto;
		// bottom: rem(80);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			opacity: 1;
			// fill: $color-lime;
			width: 66%;
			height: auto;
		}
	}

	&__copy {
		text-align: center;
		padding: 0 rem(20);
		color: $color-white;
		font-size: 4vw;
	}
}
