.marquee {
	box-sizing: border-box;

	border-top: rem(1) solid $color-black;
	border-bottom: rem(1) solid $color-black;
	background-color: $color-white;
	height: rem(60);

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
	cursor: pointer;

	// display: none; // bugs the marquee
	visibility: hidden;

	@include mq($from: screen-md) {
		// display: block;
		visibility: visible;
	}
	p {
		white-space: nowrap;
		@include megatype();
	}
}
