.marquee {
	box-sizing: border-box;

	border-top: rem(1) solid $color-black;
	border-bottom: rem(1) solid $color-black;
	background-color: $color-white;
	height: rem(60);

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
	cursor: pointer;

	// display: none; // bugs the marquee
	visibility: hidden;

	@include mq($from: screen-md) {
		// display: block;
		visibility: visible;
	}

	@keyframes marquee {
		to {
			transform: translateX(-100%);
		}
	}

	p {
		animation: marquee 40s linear infinite;
	}

	&:hover {
		p {
			animation-play-state: paused;
		}
	}

	p,
	button {
		white-space: nowrap;
		@include megatype();
	}

	button {
		text-decoration: underline;
		margin-right: rem(20);
	}
}
