.marquee {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 11;

	box-sizing: border-box;

	font-family: $font-sansserif;

	background-color: $color-white;
	height: rem(60);
	// border-top: rem(1) solid $color-black;

	display: flex;
	align-items: center;
	justify-content: center;

	user-select: none;
	cursor: pointer;

	visibility: hidden;

	@include mq($from: screen-md) {
		visibility: visible;
	}

	@keyframes marquee {
		to {
			transform: translateX(-100%);
		}
	}

	p {
		animation: marquee 40s linear infinite;
		margin-top: rem(10);
	}

	&:hover,
	&.paused {
		p {
			animation-play-state: paused;
		}
	}

	p,
	button {
		@include megatype();
		font-size: 36px;
		text-transform: uppercase;

		white-space: nowrap;
		font-family: inherit;
		margin-top: 0;
	}

	button {
		position: relative;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 85%;
			left: 0;
			right: 0;
			height: rem(3);
			background-color: $color-black;
		}

		&:hover {
			color: $color-blue;

			&:after {
				background-color: $color-blue;
			}
		}
	}
}
