/**
* for downloading/printing the wishlist
* creates a messed up, print-friendly, version of the wishlist-accordion
*/
.receipt {
	position: relative;
	min-height: 29.7cm;
	
	&__title {
		@include megatype();
		font-size: 14vw; // fills the 'screen'
		line-height: 1;
		font-weight: 500;
		// border-bottom: 1px solid;
		margin-top: 1rem;
		margin-bottom: -0.5rem;
	}

	* {
		border-collapse: collapse;
	}

	&-item {
		page-break-inside: avoid;
		width: 100%;
		border-bottom: 1px solid;
		text-align: left;

		&:first-of-type {
			border-top: 1px solid;
		}

		&__content {
			display: block;
			padding: 1em;

			.image {
				vertical-align: middle;
				padding-right: 1em;
				position: relative;
				z-index: 1;
			}

			.title {
				font-size: 1.5em;
				height: 3.2cm;
			}
		}
	}

	&-watermark {
		// font-size: 30px;
		opacity: 0.05;
		z-index: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
}
