/**
* for downloading/printing the wishlist
* creates a messed up, print-friendly, version of the wishlist-accordion
*/
.receipt {
	&__title {
		@include megatype();
		font-size: 12.85vw; // fills the 'screen'
		line-height: 1;
		font-weight: 500;
		border-bottom: 1px solid;
	}

	* {
		border-collapse: collapse;
	}

	&-item {
		page-break-inside: avoid;
		width: 100%;
		border-bottom: 1px solid;
		text-align: left;

		&__content {
			display: block;
			padding: 1em;

			.image {
				vertical-align: middle;
				padding-right: 1em;
			}

			.title {
				font-size: 2em;
				height: 5cm;
			}

			.bottom {
				height: 1em;
			}
		}
	}
}
