.screensaver {
	&-transition-enter-active {
		transition: none;
	}

	&-transition-leave-active {
		transition: all 0.6s ease;
	}

	&-transition-leave-to,
	&-transition-enter {
		opacity: 0;
	}

	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 9999;

	background: linear-gradient(
		215deg,
		rgba($color-black, 0.6),
		rgba($color-black, 0.8)
	);

	cursor: pointer;

	svg {
		position: fixed;
		width: 50vw;
		opacity: 0;
	}
	@for $i from 1 to 15 {
		svg:nth-child(#{$i}) {
			z-index: 15 - $i;
		}
	}
}
