.shortcut {
	&__icon {
		position: relative;
		box-sizing: border-box;
		padding: rem(10) rem(20);
		max-height: rem(75);
		flex: 0 0 25%;
		max-width: 25%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: transparent;
		border: 0;
		display: block;
		text-align: center;

		user-select: none;

		@include mq($from: screen-xxs) {
			max-height: rem(100);
		}

		@include mq($from: screen-xs) {
			padding: rem(20);
			max-height: rem(120);
			max-width: 20%;
			flex: 0 0 20%;
		}
		@include mq($from: screen-md) {
			width: 100%;
			height: 100%;
			max-height: none;
			max-width: none;
			flex: 0 0 100%;
		}

		.icon {
			position: relative;
			display: inline-block;
			font-size: rem(60);
			height: rem(60);
			width: rem(60);
			margin-bottom: rem(10);

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: rem(60);
				height: rem(60);
				max-width: none;

				@include mq($from: screen-xxxl) {
					width: rem(80);
					height: rem(80);
				}
			}
		}
		.text {
			display: inline-block;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translateX(-50%);
			@include bodytext();
			background-color: $color-white;
			padding: rem(2) rem(5);
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 60%;
			overflow: hidden;

			@include mq($from: screen-xxs) {
				top: 70%;
				max-width: none;
				overflow: visible;
			}
		}
		&:hover {
			.text {
				background-color: $color-grey;
			}
		}

		&:active {
			.text {
				background-color: $color-yellow;
			}
		}
	}

	&__text {
		@include desktop-text();
		display: block;
		text-align: left;
		overflow: hidden; // make correct hoverarea
	}

	&__badge {
		position: absolute;
		bottom: 10vh;
		right: 5vh;

		width: 300px;
		height: auto;
		display: inline-block;
		padding: 0;

		&:nth-of-type(2) {
			bottom: calc(10vh + 220px);
			right: calc(5vh + 50px);
		}

		&:nth-of-type(3) {
			bottom: calc(20vh + 395px);
			right: calc(5vh + 30px);
		}

		@include mq($from: screen-lg) {
			width: 400px;
		}

		.icon {
			display: flex;
			align-items: flex-start;
			width: inherit;
			height: inherit;
			margin-bottom: 0;

			img {
				position: relative;
				top: 0;
				left: 0;
				transform: translate(0);
				width: inherit;
				height: inherit;
			}
		}

		.text {
			display: none;
		}
	}
}
