.status-bar {
	box-sizing: border-box;
	
	border-top: rem(1) solid $color-black;
	border-bottom: rem(1) solid $color-black;
	background-color: $color-white;
	height: rem(40);
	padding: rem(10);


	display: flex;
	align-items: center;

	p {
		@include bodytext();
	}
}