.warm-up {
	height: 100vh;
	overflow: hidden;
	// background-color: var(--color-ss-blush);

	.subtitle {
		@include windowtitle;
		position: fixed;

		left: 50%;
		transform: translate(-50%);
		top: calc(100vh - 200px);
		text-align: center;
		text-transform: initial;

		z-index: 1;

		@include mq($until: screen-sm) {
			width: 95%;
		}

		@include mq(screen-sm) {
			max-width: 30em;
		}

		p {
			text-transform: inherit;
			display: block;

			span {
				color: var(--color-ss-yellow);
				background: var(--color-ss-blush);
				line-height: 1.3;
			}
		}
	}

	.images {
		height: inherit;

		> * {
			display: grid;

			img {
				object-fit: cover;
			}

			&.one,
			&.two {
				grid-template-rows: repeat(3, 1fr);
				width: 130vw;
				margin-left: -15vw;
				height: inherit;

				@include mq(screen-sm) {
					grid-template-rows: 1fr;
					grid-template-columns: repeat(3, 1fr);
				}

				img {
					height: inherit;
					width: 100%;
				}
			}

			&.three,
			&.four {
				grid-template-columns: repeat(4, 1fr);

				@include mq(screen-sm) {
					grid-template-columns: repeat(7, 1fr);
				}

				img {
					height: calc(100vh / 5);

					@include mq(screen-sm) {
						height: calc(100vh / 3);
					}
				}
			}
		}
	}
}
