.window-animation-enter-active,
.window-animation-leave-active {
	transition: all 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.window-animation-enter,
.window-animation-leave-to {
	transform: scale(0);
	opacity: 0.6;
}

.window {
	$chrome-height: 65;
	// $chrome-height-no-status: 30;
	$chrome-height-no-status: 30;

	$module: '.window';

	background-color: $color-white;
	// border: rem(1) solid $color-black;
	// box-shadow: rem(4) rem(4) 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 rem(4) 0 rgba(0, 0, 0, 0.1);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	max-width: calc(100vw - #{rem(22)}); //22 = gutters + borders

	@include mq($from: screen-md) {
		max-width: none;
	}

	&.is-active {
		#{$module}__top {
			background-color: lighten($color-lightgrey, 5%);
		}
	}
	&.is-dragging {
		.title {
			cursor: grabbing;
		}
	}

	hr {
		box-sizing: border-box;
		display: block;
		margin: 0;
		background-color: $color-white;
		height: rem(5);
		border: 0;
		border-top: rem(1) solid $color-black;
		border-bottom: rem(1) solid $color-black;
	}

	&__top {
		user-select: none;
		// background-color: $color-lightgrey;
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-bottom: rem(1) solid $color-black;

		.title {
			padding: rem(5);
			padding-right: rem(20);
			margin: 0 auto;
			overflow: hidden;

			min-height: rem(20);

			white-space: nowrap;
			text-overflow: ellipsis;

			@include windowtitle();

			cursor: grab;

			text-align: center;
			width: 100%;

			line-height: 1.2;

			box-sizing: border-box;

			p {
				display: inline-block;
			}
		}
		.button {
			@include window-button();

			position: absolute;
			right: 0;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			// &:hover {
			// 	background-color: $color-white;
			// }
		}
	}
	&__status {
		user-select: none;
		height: rem(35);
		box-sizing: border-box;
		position: relative;
		background-color: $color-white;
		display: flex;
		justify-content: space-between;

		> p {
			@include bodytext();

			flex: 1 1 100%;
			overflow: hidden;
			padding: rem(5) rem(10);

			display: flex;
			align-items: center;
		}

		.window-button {
			@include window-button();

			flex: 0 0 rem(35);
			width: rem(35);
			height: rem(35);
			border-left: rem(1) solid $color-black;
			border-bottom: 0;

			&:hover {
				background-color: $color-lightgrey;
			}
		}
	}
	&__content {
		overflow-x: hidden;
		overflow-y: scroll;
		// overflow: overlay;
		height: calc(100% - #{rem($chrome-height)});

		// @include smiley-scrollbar();
	}

	&:hover {
		.handle {
			display: block !important;
		}
	}

	&--tight {
		#{$module}__content {
			overflow: visible;
		}
		.handle {
			display: none !important;
		}
		&:hover {
			.handle {
				display: none !important;
			}
		}
	}

	&--gallery {
		left: 0;
		top: 0;
		width: 100vw !important;
		height: 100vh !important;
		transform: translate(0, 0) !important;

		.handle {
			display: none;
		}

		@include mq($from: screen-sm) {
			width: auto !important;
			left: 50vw;
			transform: translateX(-50%) !important;
		}
	}

	&--no-status {
		#{$module}__content {
			height: calc(100% - #{rem($chrome-height-no-status)});
		}
	}

	&--music-player {
		z-index: $z-index-support !important;

		.title {
			cursor: default;
		}

		#{$module}__content {
			height: auto;
		}
	}

	.vdr {
		touch-action: none;
		position: absolute;
		box-sizing: border-box;
		border: rem(1) dashed $color-black;
	}

	.handle {
		box-sizing: border-box;
		position: absolute;
		width: rem(31);
		height: rem(31);
		// background: #eee;
		// border: rem(1) solid $color-black;
		display: block;
		z-index: 2;

		&:after,
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			height: rem(1);
			left: rem(10);
			bottom: rem(10);
			background-color: $color-black;
		}
		&:after {
			width: rem(16);
			transform: rotate(-45deg);
		}
		&:before {
			width: rem(9);
			transform: rotate(-45deg) translate(3px, 6px);
		}
	}
	.handle-br {
		bottom: rem(-1);
		right: rem(-1);
		cursor: nwse-resize;
	}
}
