.window-animation-enter-active,
.window-animation-leave-active {
	transition: all 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.window-animation-enter,
.window-animation-leave-to {
	transform: scale(0);
	opacity: 0.6;
}

.window {
	$chrome-height: 65;
	$chrome-height-no-status: 30;

	$module: '.window';

	background-color: $color-white;
	// border: rem(1) solid $color-black;
	box-shadow: rem(4) rem(4) 0 0 rgba(0, 0, 0, 0.2);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	max-width: calc(100vw - #{rem(22)}); //22 = gutters + borders

	@include mq($from: screen-md) {
		max-width: none;
	}

	&.is-active {
		#{$module}__top {
			background-color: lighten($color-202020-blue, 5%);
		}
	}
	&.is-dragging {
		.title {
			cursor: grabbing;
		}
	}

	hr {
		box-sizing: border-box;
		display: block;
		margin: 0;
		background-color: $color-white;
		height: rem(5);
		border: 0;
		border-top: rem(1) solid $color-202020-blue;
		border-bottom: rem(1) solid $color-202020-blue;

		//202020 no hr
		display: none !important;
	}

	&__top {
		background-color: $color-202020-blue;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			flex: 1 1 100%;
			padding: rem(5);
			overflow: hidden;
			border-bottom: rem(1) solid $color-202020-blue;

			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: center;
			// @include bevel();
			@include windowtitle();
			color: $color-202020-green;

			cursor: grab;

			display: block;
			text-align: center;

			line-height: 1.75;
			min-height: rem(30);
			box-sizing: border-box;
		}
		.button {
			@include window-button();
			// @include bevel();
			// border-left: rem(1) solid $color-202020-green;
			border-bottom: rem(1) solid $color-202020-blue;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			svg {
				fill: $color-202020-green;
			}
		}
	}
	&__status {
		height: rem(35);
		box-sizing: border-box;
		position: relative;
		background-color: $color-lightgrey;
		color: $color-black;
		display: flex;
		justify-content: space-between;

		svg {
			fill: $color-black;
		}

		> p {
			@include bodytext();
			color: $color-202020-green;

			flex: 1 1 100%;
			overflow: hidden;
			padding: rem(5) rem(10);

			display: flex;
			align-items: center;
		}

		.window-button {
			@include window-button();

			flex: 0 0 rem(35);
			width: rem(35);
			height: rem(35);
			// border-left: rem(1) solid $color-202020-green;
			border-bottom: 0;
			color: $color-202020-green;
			svg {
				fill: $color-202020-green;
			}
			&:hover {
				background-color: $color-grey;
			}
		}
	}
	&__content {
		overflow-x: hidden;
		overflow-y: scroll;
		height: calc(100% - #{rem($chrome-height)});

		@include custom-scrollbar();
	}

	&:hover {
		.handle {
			display: block !important;
		}
	}

	&--tight {
		#{$module}__content {
			overflow: visible;
		}
		.handle {
			display: none !important;
		}
		&:hover {
			.handle {
				display: none !important;
			}
		}
	}

	&--gallery {
		left: 0;
		top: 0;
		width: 100vw !important;
		height: 100vh !important;
		transform: translate(0, 0) !important;

		.handle {
			display: none;
		}

		@include mq($from: screen-sm) {
			width: auto !important;
			left: 50vw;
			transform: translateX(-50%) !important;
		}
	}

	&--no-status {
		#{$module}__content {
			height: calc(100% - #{rem($chrome-height-no-status)});
		}
	}

	&--music-player {
		z-index: $z-index-support !important;

		.title {
			cursor: default;
		}

		#{$module}__content {
			height: auto;
		}
	}

	.vdr {
		touch-action: none;
		position: absolute;
		box-sizing: border-box;
		border: rem(1) dashed $color-202020-green;
	}
	.handle {
		box-sizing: border-box;
		position: absolute;
		width: rem(30);
		height: rem(30);
		background: $color-202020-blue;
		border: rem(1) solid $color-202020-blue;
		display: block;
		z-index: 2;

		&:after,
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			height: rem(1);
			left: rem(10);
			bottom: rem(8);
			background-color: $color-202020-green;
		}
		&:after {
			width: rem(16);
			transform: rotate(-45deg);
		}
		&:before {
			width: rem(9);
			transform: rotate(-45deg) translate(3px, 6px);
		}
	}
	.handle-br {
		bottom: rem(0);
		right: rem(0);
		cursor: nwse-resize;
	}
}
