.window {
	$module: '.window';

	background-color: $color-white;
	border: rem(1) solid $color-black;
	box-shadow: rem(4) rem(4) 0 0 rgba(0,0,0,0.2);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;



	&.is-active {
		#{$module}__top {
			background-color: lighten($color-lightgrey,5%);
		}
	}

	&:hover .handle {
		display: block !important;
	}

	&__top {
		height: rem(30);
		background-color: $color-lightgrey;
		display: flex;
		justify-content: space-between;
		
		.title {
			flex: 1 1 100%;
			height: rem(30);
			padding: rem(5);
			overflow: hidden;
			
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: center;
			@include bevel();
			@include headline();
		}
		button {
			flex: 0 0 rem(30);
			padding: rem(5);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: rem(30);
			height: rem(30);			
			background-color: transparent;
			border: 0;
			@include bevel();
			border-left: rem(1) solid $color-black;
		}

	}
	&__status {
		height: rem(30);
		box-sizing: border-box;
		position: relative;
		background-color: #fff;
		border-top: rem(1) solid $color-black;
		border-bottom: rem(1) solid $color-black;

		p {
			overflow: hidden;
			padding: rem(5);
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			@include bodytext();
		}
		&:after {
			content:'';
			display: block;
			border-top: rem(1) solid $color-black;
			height: rem(5);
			background-color: #fff;
		}
	}
	&__content {
		overflow-x: hidden;
		overflow-y: scroll;		
		max-height: calc(100% - rem(60));		
	}
	
	&--tight {
		#{$module}__content {
			overflow: visible;
			max-height: none;
			height: calc(100% - rem(60));
		}
	}


	.vdr {
		touch-action: none;
		position: absolute;
		box-sizing: border-box;
		border: rem(1) dashed $color-black;
	}
	.handle {
		box-sizing: border-box;
		position: absolute;
		width: rem(20);
		height: rem(20);
		background: #EEE;
		border: rem(1) solid $color-black;
	}
	.handle-br {
		bottom: 0;
		right: 0;
		cursor: se-resize;		
	}	

}