.clip-text {
	/* if we can clip, do it */
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text !important;
	background-clip: text !important;

	color: red;
	// mix-blend-mode: screen;
}
