.text-cursor {
	@include windowtitle;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;

	font-size: 3vw;
	letter-spacing: -0.02em;
	line-height: 0.85;
	color: var(--color-primary);

	z-index: get-z('text-cursor');

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-gap: 0.25em;
	align-items: center;

	white-space: nowrap;

	* {
		pointer-events: none;
	}

	p {
		max-width: 10.7em;
	}

	svg {
		width: 0.75em;
		height: 0.75em;
	}
}
