.text-cursor {
	@include windowtitle;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;

	font-size: 3vw;
	max-width: 10.7em;
	letter-spacing: -0.02em;
	line-height: 0.85;

	z-index: get-z('text-cursor');

	* {
		pointer-events: none;
	}
}
