img[lazy] {
	transition: opacity 0.4s $easeInOutQuint;
}

img[lazy='loading'] {
	opacity: 0;
}

@keyframes fade {
	from {
		opacity: 0;
	}
}

img[lazy='loaded'] {
	animation: fade 0.4s forwards $easeInOutQuint;
}
