.animate {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(
		94deg,
		$color-imagebg 4%,
		#e2e2e2 25%,
		$color-imagebg 36%
	);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}
