.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s $easeInOutQuint;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.slide-fade-enter-active {
	transition: all 0.3s $easeInOutQuint;
}
.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

.slide-out-leave-active {
	position: absolute;
	transition: all 2s $easeInOutQuint;
}
.slide-out-leave-to {
	transform: translateY(-100%);
}

.slide-in-enter-active {
	position: absolute !important;
	top: 0;
	transition: all 2s $easeInOutQuint;
}

.slide-in-enter {
	transform: translateY(100%);
}

.slide-in-out-enter-active,
.slide-in-out-leave-active {
	position: absolute !important;
	top: 0;
	transition: all 2s $easeInOutQuint;
}
.slide-in-out-enter {
	transform: translateY(100%);
}

.slide-in-out-leave-to {
	transform: translateY(-100%);
}
